<m-container maxwidth="none" class="flex align-items-center justify-content-between" style="border-bottom: 1px solid grey">
  <h3 class="mar-all-none">Company name</h3>
  <div class="flex align-items-center">
    <nav class="mar-r-md">
      <a class="pad-all-sm txt-darker" href="#">Features</a>
      <a class="pad-all-sm txt-darker" href="#">Enterprise</a>
      <a class="pad-all-sm txt-darker" href="#">Support</a>
      <a class="pad-all-sm txt-darker" href="#">Pricing</a>
    </nav>
    <a ord="secondary" role="button" href="#">Sign up</a>
  </div>
</m-container>
<div class="pad-t-lg pad-r-md pad-b-lg pad-l-md push pull txt-center" style="max-width: 700px">
  <h1 class="mar-b-none fnt-light txt-xl" style="font-size: 48px">Pricing</h1>
  <p class="mar-b-none fnt-light txt-md">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>
<m-container maxwidth="md">
  <m-row class="pad-b-lg">
    <m-col>
      <m-box class="txt-center">
        <header>
          <h4>Free</h4>
        </header>
        <h1>$0 <small class="txt-gray-4">/ mo</small></h1>
        <ul type="none" class="mar-b-lg">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button ord="secondary" class="full-width">Sign up for free</button>
      </m-box>
    </m-col>
    <m-col>
      <m-box class="txt-center">
        <header>
          <h4>Pro</h4>
        </header>
        <h1>$15 <small class="txt-gray-4">/ mo</small></h1>
        <ul type="none" class="mar-b-lg">
          <li>20 users included</li>
          <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <button ord="primary" class="full-width">Get started</button>
      </m-box>
    </m-col>
    <m-col>
      <m-box class="txt-center">
        <header>
          <h4>Enterprise</h4>
        </header>
        <h1>$29 <small class="txt-gray-4">/ mo</small></h1>
        <ul type="none" class="mar-b-lg">
          <li>30 users included</li>
          <li>15 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button ord="primary" class="full-width">Contact us</button>
      </m-box>
    </m-col>
  </m-row>
  <hr class="mar-t-xl mar-b-xl">
  <footer>
    <m-row>
      <m-col>
        <img class="mar-b-xs" src="/m-logo.png" alt="M- logo" width="24">
        <small class="block txt-gray-4">© 2017-2020</small>
      </m-col>
      <m-col>
        <h4 class="mar-t-none mar-b-sm">Features</h4>
        <ul type="none">
          <li><a class="txt-gray-5" href="#">Cool stuff</a></li>
          <li><a class="txt-gray-5" href="#">Random feature</a></li>
          <li><a class="txt-gray-5" href="#">Team feature</a></li>
          <li><a class="txt-gray-5" href="#">Stuff for developers</a></li>
          <li><a class="txt-gray-5" href="#">Another one</a></li>
          <li><a class="txt-gray-5" href="#">Last time</a></li>
        </ul>
      </m-col>
      <m-col>
        <h4 class="mar-t-none mar-b-sm">Resources</h4>
        <ul type="none">
          <li><a class="txt-gray-5" href="#">Resource</a></li>
          <li><a class="txt-gray-5" href="#">Resource name</a></li>
          <li><a class="txt-gray-5" href="#">Another resource</a></li>
          <li><a class="txt-gray-5" href="#">Final resource</a></li>
        </ul>
      </m-col>
      <m-col>
        <h4 class="mar-t-none mar-b-sm">About</h4>
        <ul type="none">
          <li><a class="txt-gray-5" href="#">Team</a></li>
          <li><a class="txt-gray-5" href="#">Locations</a></li>
          <li><a class="txt-gray-5" href="#">Privacy</a></li>
          <li><a class="txt-gray-5" href="#">Terms</a></li>
        </ul>
      </m-col>
    </m-row>
  </footer>
</m-container>
