<div class="flex height-full">
  <aside class="brd-r overflow-auto" style="width: 300px">
    <header class="pos-sticky pos-t-0 bg-white pad-sm brd-b">
      <m-breadcrumb class="txt-sm">
        <nav class="align-items-center">
          <a href="/"><img src="/img/m-logo.png" alt="Mdash logo" width="24" class="block"></a>
          <a href="/examples">Examples</a>
          <span aria-current="page">Sidebar</span>
        </nav>
      </m-breadcrumb>
    </header>
    <ul type="content"></ul>
  </aside>
  <main class="flx-grow-1 bg-white pad-lg">
    <h1 class="mar-t-0">Sidebar example</h1>
    <p>This page has no custom CSS. It's just HTML and utility classes.</p>
  </main>
</div>

<script>
  const tmpl = (_, i) => `
    <li class="flex justify-content-between align-items-center pad-sm pointer">
      <div class="mar-r-sm">
        <div class="fnt-med">Title ${i+1}</div>
        <div class="txt-gray-5 txt-sm">A description of the item long enough to wrap</div>
      </div>
      <m-icon name="arrow_right" class="txt-xl"></m-icon>
    </li>
  `;

  const html = Array.from({length: 20}, tmpl).join('');
  document.querySelector('aside ul[type=content]').innerHTML += html;
</script>