/* Base styles */
m-dot {
  display: inline-flex;
  align-items: center;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    margin: var(--m-space-xs);
    border-radius: var(--m-border-radius-full);
    background-color: var(--m-color-gray-4);
  }

  /* Alert type */
  &[type=info]::before    { background-color: var(--m-color-blue-2) }
  &[type=success]::before { background-color: var(--m-color-green-2) }
  &[type=warn]::before    { background-color: var(--m-color-orange-2) }
  &[type=error]::before   { background-color: var(--m-color-red-2) }
}
