<h1 class="mar-b-xs">Accordion</h1>
<h2 class="txt-gray-5 mar-t-none">Collection of expandable Details elements</h2>
<h2 id="demo">Demo</h2>
<code-sample>
<template>
  <m-accordion>
    <m-details>
      <summary>Topic</summary>
      <p>Details about this topic.</p>
      <p>And more details about this topic.</p>
    </m-details>
    <m-details>
      <summary>Topic</summary>
      <p>Details about this topic.</p>
      <p>And more details about this topic.</p>
    </m-details>
  </m-accordion>
</template>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>m-accordion</code></td>
    <td colspan="2">Custom tag</td>
    <td colspan="6"><a href="/details">Details</a> children only</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="title">Title</h3>
<p>Desc.</p>
<h3 id="accessibility">Accessibility</h3>
<p>All accessibility recommendations apply to the <a href="/details">Details</a> children.</p>
