<h1 class="mar-b-xs">Alert</h1>
<h2 class="txt-gray-5 mar-t-none">Dismissible container for escalated messages</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <template>
    <m-alert type="info">An informational message</m-alert>
    <m-alert type="success">A positive message</m-alert>
    <m-alert type="warn">A cautionary message</m-alert>
    <m-alert type="error">An error message</m-alert>
  </template>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="1">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1"><code>m-alert</code></td>
    <td colspan="2">Custom Element</td>
    <td colspan="6">Any</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="1">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1"><code>type</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">
      <ul type="none">
        <li>info</li>
        <li>success</li>
        <li>warn</li>
        <li>error</li>
      </ul>
    </td>
    <td colspan="6">Sets the type of the message. Error messages should use "error", cautionary messages should use "warn", positive messages should use "success", and important informational messages should use "info".</td>
  </tr>
  <tr>
    <td colspan="1"><code>autodismiss</code></td>
    <td colspan="2">Boolean attribute or Number</td>
    <td colspan="6">When present the Alert will automatically be removed after 4 seconds. To increase or decrease the duration, set its value to the desired number of seconds.</td>
  </tr>
  <tr>
    <td colspan="1"><code>dismissible</code></td>
    <td colspan="2">
      <ul type="none">
        <li>true <small class="fnt-italic fnt-bold">default</small></li>
        <li>false</li>
      </ul>
    </td>
    <td colspan="6">When set to "false" the dismiss button will not be displayed so the user can't dismiss the Alert. The application can still directly remove the Alert from the DOM or call its <code>dismiss</code> method. <code>autodismiss</code> is also still effective.</td>
  </tr>
  </tbody>
</table>
<h3 id="events">Events</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="1">Name</th>
    <th colspan="2">Detail</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1"><code>dismiss</code></td>
    <td colspan="2">None</td>
    <td colspan="6">Fires after Alert has been dismissed. This happens when the user clicks the dismiss button or on auto-dismiss or the application calls <code>dismiss()</code>.</td>
  </tr>
  </tbody>
</table>
<h3 id="methods">Methods</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="3">Signature</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="3"><code>dismiss()</code></td>
    <td colspan="6">Can be used to programmatically remove the Alert.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="alert-vs-dialog">Alert vs. Dialog</h3>
<p>Some information is so important it justifies interrupting the user experience, so for these cases consider displaying it in a <a href="/dialog">Dialog</a> instead of Alert.</p>
<h3 id="accessibility">Accessibility</h3>
<p>When <code>type</code> is "warn" or "error" the <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role" target="_blank" rel="noopener">ARIA alert role</a> will be added automatically.</p>