<h1 class="mar-b-xs">Alert</h1>
<h2 class="txt-gray-5 mar-t-none">Dismissible container for escalated messages</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <template>
    <m-alert>Neutral message</m-alert>
    <m-alert type="info">Informational message</m-alert>
    <m-alert type="success">Positive message</m-alert>
    <m-alert type="warn">Cautionary message</m-alert>
    <m-alert type="error" icon="error">
      Error message with icon and dismiss button
      <button slot="dismiss" type="remove"></button>
    </m-alert>
  </template>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>m-alert</code></td>
    <td colspan="2">Custom Element</td>
    <td colspan="6">Any</td>
  </tr>
  </tbody>
</table>
<h3 id="tag">Slot</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Element</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>dismiss</code></td>
    <td colspan="2"><code>type="remove"</code> button</td>
    <td colspan="6">None. See <a href="#dismiss-button">Dismiss button</a> for details.</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr id="type">
    <td colspan="2"><code>type</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">
      <ul type="none">
        <li>info</li>
        <li>success</li>
        <li>warn</li>
        <li>error</li>
      </ul>
    </td>
    <td colspan="6">Sets the type of the message. Error messages should use "error", cautionary messages should use "warn", positive messages should use "success", and important informational messages should use "info".</td>
  </tr>
  <tr>
    <td colspan="2"><code>autodismiss</code></td>
    <td colspan="2">
      <ul type="none">
        <li>Boolean attribute</li>
        <li>Number of seconds</li>
      </ul>
    </td>
    <td colspan="6">If present, the Alert will automatically remove itself after 4 seconds. To increase or decrease the delay, set its value to the desired number of seconds.</td>
  </tr>
  <tr>
    <td colspan="2"><code>icon</code></td>
    <td colspan="2"><a href="/icons#all-icons">Any icon name</a></td>
    <td colspan="6">Adds the specified icon. Good pairings for each type are info for info, check_circle for success, warning for warn, and error for error, but use whatever is best for your alert.</td>
  </tr>
  </tbody>
</table>
<h3 id="events">Events</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Detail</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>dismiss</code></td>
    <td colspan="2">None</td>
    <td colspan="6">Fires after alert has been dismissed. This happens when the user clicks the dismiss button, after autodismiss completes, or when <code>dismiss()</code> is called directly.</td>
  </tr>
  </tbody>
</table>
<h3 id="methods">Methods</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="4">Signature</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="4"><code>dismiss()</code></td>
    <td colspan="6">Removes the alert from the DOM and fires <code>dismiss</code> event.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="alert-vs-dialog">Alert vs. Dialog</h3>
<p>Some information is so important it justifies interrupting the user experience. In those cases consider displaying it in a <a href="/dialog">dialog</a> instead of an alert.</p>
<h3 id="dismiss-button">Dismiss button</h3>
<p>If you slot <code>&lt;button type="remove" slot="dismiss"&gt;</code> as the last element, a click handler that removes the alert will automatically be attached to it.</p>
<h3 id="a11y">Accessibility</h3>
<p>When <code>type</code> is "warn" or "error" the <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role" target="_blank" rel="noopener">ARIA alert role</a> will be added automatically. Add <code>aria-label=""</code> to the dismiss button with something helpful like "Remove confirmation message".</p>