<h1>Box</h1>
<p>Primary content container used for drawing attention.</p>
<h2 id="demo">Demo</h2>
<code-sample>
<m-box ord="primary">Primary content</m-box>
<m-box ord="secondary">Secondary content. Neighboring Boxes have spacing.</m-box>
<p>Anything outside of a Box is considered tertiary content.</p>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>m-box</code></td>
    <td colspan="2">Custom tag</td>
    <td colspan="6">Any</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>ord</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">
      <ul type="none">
        <li>primary</li>
        <li>secondary</li>
      </ul>
    </td>
    <td colspan="6"><a href="https://en.wikipedia.org/wiki/Ordinal_numeral" target="_blank" rel="noopener">Ordinal number word</a> for describing the box content importance.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="dont-nest">Don't nest</h3>
<p>Boxes should not be nested in Boxes.</p>
<h3 id="accessibility">Accessibility</h3>
<p></p>