<h1 class="mar-b-xs">Breadcrumb</h1>
<h2 class="txt-gray-5 mar-t-none">Navigational hierarchy</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <m-breadcrumb>
    <nav>
      <span>Home</span>
    </nav>
  </m-breadcrumb>
  <m-breadcrumb>
    <nav>
      <a href="#">Home</a>
      <span>Shoes</span>
    </nav>
  </m-breadcrumb>
  <m-breadcrumb>
    <nav>
      <a href="#">Home</a>
      <a href="#">Shoes</a>
      <span>Women</span>
    </nav>
  </m-breadcrumb>
</code-sample>
<p>See more <a href="/examples#breadcrumb">examples</a></p>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><code>m-breadcrumb</code></td>
      <td colspan="2">Custom tag</td>
      <td colspan="6">One <code>&lt;nav&gt;</code> child with <code>&lt;a&gt;</code>, <code>&lt;span&gt;</code>, or <code>&lt;m-crumb&gt;</code> children.</td>
    </tr>
    <tr>
      <td colspan="2"><code>m-crumb</code></td>
      <td colspan="2">Custom tag</td>
      <td colspan="6">Any</td>
    </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="order">Crumb order</h3>
<p>The last crumb must represent the current page and should be a span. All other crumbs should be links navigating up the hierarchy. When the user is at the top of the hierarchy, it may or may not make sense to display Breadcrumb at all.</p>
<h3>Get creative!</h3>
<p>Breadcrumbs can support all kinds of elements for more demanding designs, but you should not deviate from the core purpose of navigational hierarchy.</p>
<code-sample>
  <template>
    <m-breadcrumb>
      <nav>
        <a href="#">
          <m-icon name="home"></m-icon>
        </a>
        <a href="#">Shoes</a>
        <m-crumb>
          <m-menu>
            <span role="link" slot="trigger">Women  <m-icon name="arrow-down" class="txt-xs"></m-icon></span>
            <div slot="items">
              <a href="#" class="inline-flex align-items-center justify-content-center">👞 Casual</a>
              <a href="#" class="inline-flex align-items-center justify-content-center">👟 Sport</a>
              <a href="#" class="inline-flex align-items-center justify-content-center">👠 Formal</a>
            </div>
          </m-menu>
        </m-crumb>
        <span>Sport</span>
      </nav>
    </m-breadcrumb>
    <h3>Sport shoes</h3>
    <div>...</div>
  </template>
</code-sample>
<h3 id="a11y">Accessibility</h3>
<p>It is recommended that the last item in breadcrumbs has <code>aria-current="page"</code>.</p>
