<h1 class="mar-b-xs">Button</h1>
<h2 class="txt-gray-5 mar-t-none">Used for triggering actions</h2>
<h2>Demo</h2>
<code-sample>
  <button ord="primary">Primary</button>
  <button ord="secondary">Secondary</button>
  <button ord="tertiary">Tertiary</button>
  <button type="remove"></button>
  <a role="button" ord="primary" href="/">Link</a>
</code-sample>
<h2>API</h2>
<h3>Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>button</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">Any content</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>ord</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">
      <ul type="none">
        <li>primary</li>
        <li>secondary</li>
        <li>tertiary</li>
      </ul>
    </td>
    <td colspan="6"><a href="https://en.wikipedia.org/wiki/Ordinal_numeral" target="_blank" rel="noopener">Ordinal number word</a> for describing the button's precedence.</td>
  </tr>
  <tr>
    <td colspan="2"><code>disabled</code></td>
    <td colspan="2">Boolean attribute</td>
    <td colspan="6">When present will disable the button.</td>
  </tr>
  <tr>
    <td colspan="2"><code>type</code></td>
    <td colspan="2">
      <ul type="none">
        <li>submit</li>
        <li>remove</li>
      </ul>
    </td>
    <td colspan="6">
      <p class="mar-t-none">Use "submit" when the button submits a form. Avoid <code>&lt;input type="submit"&gt;</code>. See
        <a href="/form#submit-button">Submit button</a> for more info</p>
      <p class="mar-b-none">Remove is a custom button type. It's used by other components and is intended for remove use cases (e.g. remove item from cart, close Dialog).
        <a href="#remove">See below</a> for more info.</p>
    </td>
  </tr>
  </tbody>
</table>
<p>For <span class="fnt-bold">a</span> only:</p>
<table layout="fixed">
  <tbody>
  <tr>
    <td colspan="2"><code>role</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">button</td>
    <td colspan="6">Styles the link as a button. Use this instead of <code>&lt;button&gt;</code> when your use case needs a real link.</td>
  </tr>
  </tbody>
</table>
<h2>Guidelines</h2>
<h3>Button or link?</h3>
<p>If the action is not navigating the user to a new url, then use a button. If the action navigates to a new url use a regular <a href="/link">link</a>, but if that link needs to look like a button then add the <code>role="button"</code> attribute.</p>
<h3 id="remove">The remove button</h3>
<p>Dialog, Alert, and other components use this button type to create a consistent experience. Use it for similar use cases to meet user expectations:</p>
<m-row>
  <m-col>
    <m-alert type="success">Lorem ipsum dolor</m-alert>
  </m-col>
  <m-col>
    <m-tag>lorem <button type="remove"></button></m-tag>
    <m-tag>ipsum <button type="remove"></button></m-tag>
    <m-tag>dolor <button type="remove"></button></m-tag>
  </m-col>
  <m-col>
    <m-dialog>Lorem ipsum dolor</m-dialog>
    <button onclick="document.querySelector('m-dialog').showModal()" ord="primary">Open Dialog</button>
  </m-col>
  <m-col class="pad-r-lg">
    <h4 class="mar-t-none mar-b-xs">Your order</h4>
    <div class="flex align-items-center justify-content-between">🌮 Taco, spicy pork <button type="remove"></button></div>
    <div class="flex align-items-center justify-content-between">🌯 Burrito, steak, add guac <button type="remove"></button></div>
    <div class="flex align-items-center justify-content-between">🥛 Horchata, 2 qty. <button type="remove"></button></div>
    <hr>
    <span class="left txt-xs txt-upper">Total</span>
    <span class="right txt-xs">$18.36</span>
  </m-col>
</m-row>
<h3>Accessibility</h3>
<p>The remove button should have an <code>aria-label</code> attribute.</p>
