<h1 class="mar-b-xs">Checkbox</h1>
<h2 class="txt-gray-5 mar-t-none">Form element for selecting many options</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <fieldset>
    <legend>Languages</legend>
    <input type="checkbox" name="speed" value="html" checked>
    <label>HTML</label>
    <input type="checkbox" name="speed" value="css">
    <label>CSS</label>
    <input type="checkbox" name="speed" value="js">
    <label>JavaScript</label>
  </fieldset>
</code-sample>
<p>See more <a href="/examples#Forms">examples</a></p>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>input</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">None</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>name</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">String</td>
    <td colspan="6">All checkboxes in a group use the same name.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="title">Radio, checkbox, or select?</h3>
<p>There's many uses cases where a single checkbox works very well and other use cases where 50 checkboxes makes sense too. If only one of the options can be selected, use radio or select.</p>
<h3 id="a11y">Accessibility</h3>
<p>Like other input elements, be sure to use <code>for</code> and <code>id</code>.</p>
