<m-container>
  <div style="max-width: 660px">
    <h1>Library Comparison</h1>
    <p>Comparisons are tough. Differences in problem space, constraints, values, trade-offs, and a whole bunch of other factors come into play that make a true comparison complicated.</p>
<!--    <p>Some UI libraries are great choices for their target framework, like those created specifically for React, but have no chance at compatibility. Others put a heavy emphasis on visual beauty - and really do achieve a beautiful UI! - but aren't concerned about size or performance. This is no surprise because there are no silver bullets in software - only trade-offs.</p>-->
    <p>Mdash hits the sweet spot of minimal trade-offs and maximum value by relentlessly leveraging standards and offers developers a UI library that is extremely small and compatible, truly easy (no install, no config, no build step), more familiar, and is sophisticated enough to serve as a shared design system across large organizations.</p>
    <p>So, although not every UI library has all the same components, those that have matches with Mdash have their markup lined up below to compare.</p>
    <small><a href="https://github.com/jfbrennan/m-/issues">Submit corrections</a></small>
  </div>
  <m-tabs id="comparisons" class="mar-t-lg">
    <m-tab id="bootstrap">Bootstrap vs. M-</m-tab>
    <m-tab id="material-web">Material Web vs. M-</m-tab>
    <m-tab id="foundation">Foundation vs. M-</m-tab>
    <m-tab id="semantic-ui" disabled>Semantic UI coming soon</m-tab>
  </m-tabs>

  <!-- Bootstrap -->
  <div data-tab="bootstrap" role="tabpanel">
    <m-row class="pos-sticky bg-white mar-b-none" style="z-index: 10">
      <m-col>
        <h2 id="bootstrap" class="mar-b-none">Bootstrap<span class="mar-l-md txt-sm txt-gray-4">v4.5<m-vbar></m-vbar>72kb</span></h2>
      </m-col>
      <m-col>
        <h2 class="mar-b-none">M-<span class="mar-l-md txt-sm txt-gray-4">v{{version}}<m-vbar></m-vbar>8kb</span></h2>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Container</h4>
        <code-sample readonly="readonly">
          <template>
            <div class="container-md"></div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Container (same loc, +9 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-container maxwidth="md"></m-container>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Grid</h4>
        <code-sample readonly="readonly">
          <template>
            <div class="row">
              <div class="col-6 col-md-3"></div>
              <div class="col-6 col-md-9"></div>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Grid (same loc, -18 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-row>
              <m-col span="3 sm-6"></m-col>
              <m-col span="9 sm-6"></m-col>
            </m-row>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Accordion</h4>
        <code-sample readonly="readonly">
          <template>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Collapsible</button>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">body</div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible</button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">Body</div>
                </div>
              </div>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Accordion (-10 loc, -874 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-accordion>
              <details>
                <summary>Summary</summary>
                <div>Details</div>
              </details>
              <details>
                <summary>Summary</summary>
                <div>Details</div>
              </details>
            </m-accordion>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Alert</h4>
        <code-sample readonly="readonly">
          <template>
            <div class="alert alert-warning alert-dismissible" role="alert">
              <p>A dismissible warning alert.</p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Alert (-4 loc, -219 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-alert type="warn">A dismissible warning alert.</m-alert>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Badge</h4>
        <code-sample readonly="readonly">
          <template>
            <span class="badge badge-primary">4</span>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Badge (same loc, -13 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-badge count="4"></m-badge>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Breadcrumb</h4>
        <code-sample readonly="readonly">
          <template>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
              </ol>
            </nav>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Breadcrumb (same loc, -73 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-breadcrumb>
              <nav>
                <a href="#">Home</a>
                <span aria-current="page">Library</span>
              </nav>
            </m-breadcrumb>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Card</h4>
        <code-sample readonly="readonly">
          <template>
            <div class="card">
              <div class="card-body">Content</div>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Box (-2 loc, -66 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-box>Content</m-box>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Collapse</h4>
        <code-sample readonly="readonly">
          <template>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#a" aria-expanded="false" aria-controls="a">Summary</button>
            <div class="collapse" id="a">
              <div class="card card-body">Details</div>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Details (a native element, same loc, -153 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <details>
              <summary>Summary</summary>
              <div>Details</div>
            </details>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Modal</h4>
        <code-sample readonly="readonly">
          <template>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Launch demo modal</button>
            <div class="modal" id="exampleModal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                  </div>
                  <div class="modal-body">
                    <p>Content</p>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Dialog (-11 loc, -473 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <dialog>
              <h4 class="mar-b-xs">Title</h4>
              <p>Content</p>
            </dialog>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Form</h4>
        <code-sample readonly="readonly">
          <template>
            <form>
              <div class="form-group">
                <label for="a">Email</label>
                <input type="email" class="form-control" id="a">
              </div>
              <div class="form-group">
                <label for="b">Password</label>
                <input type="password" class="form-control" id="b" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Must be at least 8 characters</small>
              </div>
              <div class="form-group">
                <label for="c">Address</label>
                <input type="text" class="form-control" id="c" placeholder="Street">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Zip" autocomplete="postal-code">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="d">
                <label class="form-check-label" for="d">Subscribe to newsletter</label>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Form (-2 loc, -306 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <form>
              <fieldset>
                <label for="a">Email</label>
                <input id="a" type="email">
              </fieldset>
              <fieldset>
                <label for="b">Password</label>
                <input id="b" type="password">
                <small>Must be at least 8 characters</small>
              </fieldset>
              <fieldset>
                <label for="c">Address</label>
                <input id="c" placeholder="Street">
                <input placeholder="Zip" autocomplete="postal-code">
              </fieldset>
              <fieldset>
                <input id="d" type="checkbox">
                <label for="d">Subscribe to newsletter</label>
              </fieldset>
              <button type="submit" ord="primary">Save</button>
            </form>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Icon (installed separately)</h4>
          <code-sample readonly="readonly">
            <template>
              <svg class="bi" width="32" height="32" fill="currentColor">
  <use xlink:href="bootstrap-icons.svg#user"/>
</svg>
            </template>
          </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Icon (-2 loc, -84 chars)</h4>
          <code-sample readonly="readonly">
            <template>
              <m-icon name="user"></m-icon>
            </template>
          </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Tabs</h4>
        <code-sample readonly="readonly">
          <ul class="nav nav-tabs" id="tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="a-tab" data-toggle="tab" href="#a" role="tab" aria-controls="a" aria-selected="true">A</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="b-tab" data-toggle="tab" href="#b" role="tab" aria-controls="b" aria-selected="false">B</a>
            </li>
          </ul>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Tabs (-4 loc, -376 chars</h4>
        <code-sample readonly="readonly">
          <template>
            <m-tabs>
              <m-tab>A</m-tab>
              <m-tab>B</m-tab>
            </m-tabs>
          </template>
        </code-sample>
      </m-col>
    </m-row>
  </div>

  <!-- Material Web -->
  <div data-tab="material-web" role="tabpanel">
    <m-row class="pos-sticky bg-white mar-b-none" style="z-index: 10">
      <m-col>
        <h2 id="material-web" class="mar-b-none">Material Web<span class="mar-l-md txt-sm txt-gray-4">v7.0<m-vbar></m-vbar>80kb</span></h2>
      </m-col>
      <m-col>
        <h2 class="mar-b-none">M-<span class="mar-l-md txt-sm txt-gray-4">v{{version}}<m-vbar></m-vbar>8kb</span></h2>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Grid</h4>
        <code-sample readonly="readonly">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-6-phone"></div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9 mdc-layout-grid__cell--span-6-phone"></div>
            </div>
          </div>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Grid (-2 loc, -338 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-row>
              <m-col span="3 sm-6"></m-col>
              <m-col span="9 sm-6"></m-col>
            </m-row>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Dialog</h4>
        <code-sample readonly="readonly">
          <div class="mdc-dialog">
            <div class="mdc-dialog__container">
              <div class="mdc-dialog__surface"
                   role="alertdialog"
                   aria-modal="true"
                   aria-labelledby="my-dialog-title"
                   aria-describedby="my-dialog-content">
                <h2 class="mdc-dialog__title" id="my-dialog-title">Title</h2>
                <div class="mdc-dialog__content" id="my-dialog-content">
                  <p>Content</p>
                </div>
              </div>
            </div>
            <div class="mdc-dialog__scrim"></div>
          </div>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Dialog (-11 loc, -504 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <dialog>
              <h4 class="mar-b-xs">Title</h4>
              <p>Content</p>
            </dialog>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Removable Chip</h4>
        <code-sample readonly="readonly">
          <div class="mdc-chip-set mdc-chip-set--input" role="grid">
            <div class="mdc-chip" role="row">
              <div class="mdc-chip__ripple"></div>
              <span role="gridcell">
        <span role="button" tabindex="0" class="mdc-chip__primary-action">
          <span class="mdc-chip__text">Text</span>
            </span>
            </span>
              <span role="gridcell">
        <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing" tabindex="-1" role="button">cancel</i>
      </span>
            </div>
          </div>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Removable Tag (-12 loc, -465 chars)</h4>
        <code-sample readonly="readonly">
          <m-tag>free breakfast <button type="remove" aria-label="remove"></button></m-tag>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Tabs</h4>
        <code-sample readonly="readonly">
          <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
              <div class="mdc-tab-scroller__scroll-area">
                <div class="mdc-tab-scroller__scroll-content">
                  <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">A</span>
          </span>
                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                    <span class="mdc-tab__ripple"></span>
                  </button>
                  <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
          <span class="mdc-tab__content">
            <span class="mdc-tab__text-label">B</span>
          </span>
                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                    <span class="mdc-tab__ripple"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Tabs (-22 loc, -1,159 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-tabs scrollable>
              <m-tab>A</m-tab>
              <m-tab>B</m-tab>
            </m-tabs>
          </template>
        </code-sample>
      </m-col>
    </m-row>
  </div>

  <!-- Foundation -->
  <div data-tab="foundation" role="tabpanel">
    <m-row class="pos-sticky bg-white mar-b-none" style="z-index: 10">
      <m-col>
        <h2 id="foundation" class="mar-b-none">Zurb Foundation<span class="mar-l-md txt-sm txt-gray-4">v6.6<m-vbar></m-vbar>87kb</span></h2>
      </m-col>
      <m-col>
        <h2 class="mar-b-none">M-<span class="mar-l-md txt-sm txt-gray-4">v{{version}}<m-vbar></m-vbar>8kb</span></h2>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Grid</h4>
        <code-sample readonly="readonly">
          <template>
            <div class="row">
              <div class="columns large-3 small-6"></div>
              <div class="columns large-9 small-6"></div>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Grid (same loc, -36 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-row>
              <m-col span="3 sm-6"></m-col>
              <m-col span="9 sm-6"></m-col>
            </m-row>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Reveal</h4>
        <code-sample readonly="readonly">
          <template>
            <div class="reveal" id="x" data-reveal>
              <h2>Title</h2>
              <p>Content</p>
            <button class="close-button" data-close aria-label="Close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Dialog (-3 loc, -192 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <dialog>
              <h2>Title</h2>
              <p>Content</p>
            </dialog>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Accordion</h4>
        <code-sample readonly="readonly">
          <template>
            <ul class="accordion" data-accordion>
              <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title">Summary</a>
                <div class="accordion-content" data-tab-content>
                  <p>Content</p>
                </div>
              </li>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Summary</a>
                <div class="accordion-content" data-tab-content>
                  <p>Content</p>
                </div>
              </li>
            </ul>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Accordion (-4 loc, -305 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-accordion>
              <details>
                <summary>Summary</summary>
                <div>Details</div>
              </details>
              <details>
                <summary>Summary</summary>
                <div>Details</div>
              </details>
            </m-accordion>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Dropdown</h4>
        <code-sample readonly="readonly">
          <template>
            <button class="button" type="button" data-toggle="x">Open dropdown</button>
            <div class="dropdown-pane" id="x" data-dropdown data-auto-focus="true">
              <p>Content</p>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Menu (+2 loc, -22 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-menu>
              <button slot="trigger" ord="primary">Open menu</button>
              <div slot="items">
                <p>Content</p>
              </div>
            </m-menu>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Sticky</h4>
        <code-sample readonly="readonly">
          <template>
            <div data-sticky-container>
              <div class="sticky" data-sticky data-margin-top="0">
                <h2>I stick!</h2>
              </div>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Sticky (-4 loc, -132 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <h2 class="pos-sticky">I stick!</h2>
          </template>
        </code-sample>
      </m-col>
    </m-row>

    <m-row>
      <m-col>
        <h4 class="mar-b-xs">Tabs</h4>
        <code-sample readonly="readonly">
          <template>
            <ul class="tabs" data-tabs id="tabs">
              <li class="tabs-title is-active">
                <a href="#a" aria-selected="true">A</a>
              </li>
              <li class="tabs-title">
                <a href="#b">B</a>
              </li>
            </ul>
            <div class="tabs-content" data-tabs-content="tabs">
              <div class="tabs-panel is-active" id="a"></div>
              <div class="tabs-panel" id="a"></div>
            </div>
          </template>
        </code-sample>
      </m-col>
      <m-col>
        <h4 class="mar-b-xs">Tabs (-8 loc, -377 chars)</h4>
        <code-sample readonly="readonly">
          <template>
            <m-tabs>
              <m-tab>A</m-tab>
              <m-tab>B</m-tab>
            </m-tabs>
          </template>
        </code-sample>
      </m-col>
    </m-row>
  </div>
</m-container>

<script>
  // Switches tab panels
  document.getElementById('comparisons').addEventListener('select', e => {
    document.querySelectorAll('[role=tabpanel]').forEach(panel => panel.hidden = panel.dataset.tab !== e.detail.id);
  })
</script>
