<h1 class="mar-b-xs">Custom Properties</h1>
<h2 class="txt-gray-5 mar-t-none">Design tokens referenced internally and externally for custom styles</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <style>
    @import "../node_modules/m-/dist/custom-properties.css";

    #example {
      color: var(--m-color-gray-1);
      background-color: var(--m-color-gray-7)
    }
  </style>
  <div id="example" class="pad-lg">My background and text colors reference custom properties</div>
</code-sample>
<h2 id="api">API</h2>
<h3 id="colors">Colors</h3>
<p>All color values are in the <a href="https://stripe.com/blog/accessible-color-systems" target="_blank">perceptually uniform color space</a> to provide visually appealing colors while still achieving a11y contrast guidelines.</p>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="3">Example</th>
    <th colspan="3">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>--m-color-red-[1|2|3]</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="bg-red-1"></div>
        <div class="bg-red-2"></div>
        <div class="bg-red-3"></div>
      </div>
    </td>
    <td colspan="3">Used to denote something has or will go wrong.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-color-orange-[1|2|3]</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="bg-orange-1"></div>
        <div class="bg-orange-2"></div>
        <div class="bg-orange-3"></div>
      </div>
    </td>
    <td colspan="3">Used for bringing attention to something that may not be desirable.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-color-blue-[1|2|3]</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="bg-blue-1"></div>
        <div class="bg-blue-2"></div>
        <div class="bg-blue-3"></div>
      </div>
    </td>
    <td colspan="3">Used to highlight primary actions.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-color-green-[1|2|3]</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="bg-green-1"></div>
        <div class="bg-green-2"></div>
        <div class="bg-green-3"></div>
      </div>
    </td>
    <td colspan="3">Used to communicate something desirable has or will happen.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-color-gray-[7|8|9]</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="bg-gray-7"></div>
        <div class="bg-gray-8"></div>
        <div class="bg-gray-9"></div>
      </div>
    </td>
    <td colspan="3">Used for text and high-contrast backgrounds.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-color-gray-[1|2|3|4|5|6]</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="bg-gray-1"></div>
        <div class="bg-gray-2"></div>
        <div class="bg-gray-3"></div>
        <div class="bg-gray-4"></div>
        <div class="bg-gray-5"></div>
        <div class="bg-gray-6"></div>
      </div>
    </td>
    <td colspan="3">Grayscale used for backgrounds, borders, and disabled state.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-color-primary-action</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="color-primary-action"></div>
      </div>
    </td>
    <td colspan="3">Used for links and other primary action elements.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-color-disabled-[bg|fg]</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="color-disabled-bg"></div>
        <div class="color-disabled-fg"></div>
      </div>
    </td>
    <td colspan="3">Disabled background and foreground.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-color-border</code></td>
    <td colspan="3" class="pad-0 pos-relative">
      <div class="flex pos-absolute pos-t-0 pos-r-0 pos-b-0 pos-l-0">
        <div class="color-border"></div>
      </div>
    </td>
    <td colspan="3">Default border color.</td>
  </tr>
  </tbody>
</table>
<h3 id="spacing">Spacing</h3>
<p>The spacing sizes are based on <a href="">Divine Proportions</a> to help provide a natural rhythm. Padding, margin, and gap use these values.</p>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="3">Value</th>
    <th colspan="3">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>--m-space-[xs|sm|md|lg|xl]</code></td>
    <td colspan="3">6px, 12px, 18px, 30px, 48px</td>
    <td colspan="3">Used for developing a visual rhythm between elements. Loosely follows <a
            href="https://layersmagazine.com/the-divine-proportion.html">Divine Proportion</a>. You should use the
      <a href="/utility-classes#space">padding and margin utility classes</a> whenever possible and reserve use of <code>--m-space-*</code> for other spacing needs like position.</td>
  </tr>
  </tbody>
</table>
<h3 id="space">Element styles</h3>
<p>All elements use these values for their relevant styles.</p>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="3">Value</th>
    <th colspan="3">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>--m-border-radius-[sm|md|full]</code></td>
    <td colspan="3">2px, 4px, fully round</td>
    <td colspan="3">Used for border radius.</td>
  </tr>
<!--  <tr>-->
<!--    <td colspan="2"><code>--border-[xs|sm]</code></td>-->
<!--    <td colspan="3">1, 2</td>-->
<!--    <td colspan="3">Used for border width. All borders have the same <code>--color-border</code> color and solid style.</td>-->
<!--  </tr>-->
  </tbody>
</table>
<h3 id="breakpoints">Breakpoints</h3>
<p>Although custom properties are unfortunately not usable in media queries, these breakpoint values are useful elsewhere.</p>
<p>The large breakpoint and above are considered desktop-sized</p>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="3">Value</th>
    <th colspan="3">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>--m-breakpoint-sm</code></td>
    <td colspan="3">576px</td>
    <td colspan="3">The portrait width of an iPhone X.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-breakpoint-md</code></td>
    <td colspan="3">768px</td>
    <td colspan="3">The portrait width of an iPad.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-breakpoint-lg</code></td>
    <td colspan="3">992px</td>
    <td colspan="3">The landscape width of an iPad.</td>
  </tr>
  </tbody>
</table>
<h3 id="other">Other</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="3">Value</th>
    <th colspan="3">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>--m-font-family</code></td>
    <td colspan="3">'Helvetica Neue', Arial</td>
    <td colspan="3">The typefaces in use.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-max-content-width</code></td>
    <td colspan="3">1536px</td>
    <td colspan="3">The max width used by <a href="/container">Container</a>. Wrapping your content in a <code>m-container</code> is more likely what you need, but you can use this if necessary.</td>
  </tr>
  <tr>
    <td colspan="2"><code>--m-min-input-height</code></td>
    <td colspan="3">34px</td>
    <td colspan="3">The min height used for form elements. Reference this if you'd like your element to match the height of inputs.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="hard-code">Do not hard code values</h3>
<p>Facebook <a href="https://www.slideshare.net/maxdesign/css-oocss-and-smacss/16-FacebookFacebook_blue_261_Unique_colors" target="_blank" rel="noopener">famously</a> had 548 unique colors hard-coded 6,498 times across all their stylesheets. Custom properties are a modern CSS feature that helps you avoid such a mess by defining reusable values. Use custom properties instead of hard coding their values. Like this:</p>
<code-sample mode="css" readonly="readonly">
/* Do */
@import "../node_modules/m-/dist/custom-properties.css";
#foo \{
  background-color: var(--m-color-gray-2);
}

/* Don't */
#foo \{
  background-color: #dedede;
}
</code-sample>
<p>Go <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*" target="_blank" rel="noopener">here</a> to learn more about custom properties and how to use them.</p>
<h3 id="a11y">Accessibility</h3>
<p>The colors and spacing meet accessibility requirements.</p>

<style>
  [class^="bg-"] { width: 32% }
  [class^="bg-gray-"] { width: 16% }
  [class="bg-gray-7"], [class="bg-gray-8"], [class="bg-gray-9"] { width: 32% }
  [class^="color-primary-action"], [class^="color-border"] { width: 96% }
  .color-primary-action { background-color: var(--m-color-primary-action) }
  .color-border { background-color: var(--m-color-border) }
  [class^="color-disabled-"] { width: 48% }
  .color-disabled-bg { background-color: var(--m-color-disabled-bg) }
  .color-disabled-fg { background-color: var(--m-color-disabled-fg) }
</style>