<m-container maxwidth="md" class="bg-offwhite">
  <div class="txt-center pad-t-lg pad-b-lg">
    <img class="block push pull mar-b-lg" src="/favicon-192.png" alt="" width="72" height="72">
    <h2>Checkout form</h2>
    <p class="txt-md fnt-light">This page is an exact recreation of Bootstrap's <a href="https://getbootstrap.com/docs/4.5/examples/checkout/">Checkout example</a> using M-. The M- version is
      <span class="fnt-bold">30</span> less loc and <span class="fnt-bold">1,538</span> less characters. M- itself is just 6.8kb, whereas Bootstrap is 71.4kb and React Bootstrap is 103kb!</p>
  </div>
  <m-row>
    <m-col span="8 md-12" order="md-2">
      <h4>Billing address</h4>
      <form novalidate>
        <m-row>
          <m-col span="md-6">
            <fieldset>
              <label for="firstName">First name</label>
              <input type="text" id="firstName" required>
              <small>Valid first name is required.</small>
            </fieldset>
          </m-col>
          <m-col span="md-6">
            <fieldset>
              <label for="lastName">Last name</label>
              <input type="text" id="lastName" required>
              <small>Valid last name is required.</small>
            </fieldset>
          </m-col>
        </m-row>
        <fieldset>
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="@username" required>
          <small>Your username is required.</small>
        </fieldset>
        <fieldset>
          <label for="email">Email <span class="txt-gray-5">(Optional)</span></label>
          <input type="email" id="email" placeholder="you@example.com">
          <small>Please enter a valid email address for shipping updates.</small>
        </fieldset>
        <fieldset>
          <label for="address">Address</label>
          <input type="text" id="address" placeholder="1234 Main St" required>
          <small>Please enter your shipping address.</small>
        </fieldset>
        <fieldset>
          <label for="address2">Address 2 <span class="txt-gray-5">(Optional)</span></label>
          <input type="text" id="address2" placeholder="Apartment or suite">
        </fieldset>
        <m-row>
          <m-col span="5">
            <fieldset>
              <label for="country">Country</label>
              <select id="country" required>
                <option>Choose...</option>
                <option>United States</option>
              </select>
              <small>Please select a valid country.</small>
            </fieldset>
          </m-col>
          <m-col span="4">
            <fieldset>
              <label for="state">State</label>
              <select id="state" required>
                <option>Choose...</option>
                <option>California</option>
              </select>
              <small>Please provide a valid state.</small>
            </fieldset>
          </m-col>
          <m-col span="3">
            <fieldset>
              <label for="zip">Zip</label>
              <input type="text" id="zip" required>
              <small>Zip code required.</small>
            </fieldset>
          </m-col>
        </m-row>
        <hr>
        <fieldset>
          <input type="checkbox" id="same-address">
          <label for="same-address">Shipping address is the same as my billing address</label>
          <br>
          <input type="checkbox" id="save-info">
          <label for="save-info">Save this information for next time</label>
        </fieldset>
        <hr>
        <h4>Payment</h4>
        <fieldset>
          <input id="credit" name="paymentMethod" type="radio" checked required>
          <label for="credit">Credit card</label>
          <br>
          <input id="debit" name="paymentMethod" type="radio" required>
          <label for="debit">Debit card</label>
          <br>
          <input id="paypal" name="paymentMethod" type="radio" required>
          <label for="paypal">PayPal</label>
        </fieldset>
        <m-row>
          <m-col span="6">
            <fieldset>
              <label for="cc-name">Name on card</label>
              <input type="text" id="cc-name" required>
              <small>Full name as displayed on card</small>
            </fieldset>
          </m-col>
          <m-col span="6">
            <fieldset>
              <label for="cc-number">Credit card number</label>
              <input type="text"  id="cc-number" required>
              <small>Credit card number is required</small>
            </fieldset>
          </m-col>
        </m-row>
        <m-row>
          <m-col span="3">
            <fieldset>
              <label for="cc-expiration">Expiration</label>
              <input type="text"  id="cc-expiration" required>
              <small>Expiration date required</small>
            </fieldset>
          </m-col>
          <m-col span="3">
            <fieldset>
              <label for="cc-cvv">CVV</label>
              <input type="text"  id="cc-cvv" required>
              <small>Security code required</small>
            </fieldset>
          </m-col>
        </m-row>
        <hr>
        <button ord="primary" class="full-width" type="submit">Continue to checkout</button>
      </form>
    </m-col>
    <m-col span="4 md-12" order="md-1">
      <h4 class="flex justify-content-between">
        <span class="txt-gray-5">Your cart</span>
        <m-badge count="3"></m-badge>
      </h4>
      <m-box class="pad-all-none">
        <ul type="none">
          <li class="flex justify-content-between pad-t-sm pad-b-sm pad-l-md pad-r-md">
            <div>
              <h6 class="mar-all-none">Product name</h6>
              <small class="txt-gray-5">Brief description</small>
            </div>
            <span class="txt-gray-5">$12</span>
          </li>
          <li class="flex justify-content-between pad-t-sm pad-b-sm pad-l-md pad-r-md">
            <div>
              <h6 class="mar-all-none">Second product</h6>
              <small class="txt-gray-5">Brief description</small>
            </div>
            <span class="txt-gray-5">$8</span>
          </li>
          <li class="flex justify-content-between pad-t-sm pad-b-sm pad-l-md pad-r-md">
            <div>
              <h6 class="mar-all-none">Third item</h6>
              <small class="txt-gray-5">Brief description</small>
            </div>
            <span class="txt-gray-5">$5</span>
          </li>
          <li class="flex justify-content-between pad-t-sm pad-b-sm pad-l-md pad-r-md">
            <div class="text-success">
              <h6 class="mar-all-none">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li>
          <li class="flex justify-content-between pad-t-sm pad-b-sm pad-l-md pad-r-md">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>
      </m-box>
      <m-box class="pad-all-xs">
        <form>
          <fieldset class="flex">
            <input type="text" placeholder="Promo code">
            <button type="submit" ord="tertiary" class="mar-l-xs">Redeem</button>
          </fieldset>
        </form>
      </m-box>
    </m-col>
  </m-row>
  <footer class="mar-t-xl mar-b-xl txt-gray-5 txt-center">
    <p>&copy; 2017-2020 Company Name</p>
    <nav>
      <a href="#" class="mar-r-sm">Privacy</a>
      <a href="#" class="mar-r-sm">Terms</a>
      <a href="#">Support</a>
    </nav>
  </footer>
</m-container>
