<h1>Details</h1>
<p>Container element used for progressive disclosure.</p>
<h2 id="demo">Demo</h2>
<code-sample>
<template>
  <m-details>
    <summary>Summary</summary>
    <p>Details about this thing.</p>
    <p>And more details about this thing.</p>
  </m-details>
</template>
</code-sample>
<p>See more <a href="/examples#Details">examples</a></p>
<h2 id="api">API</h2>
<h3 id="tag">Tags</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>m-details</code></td>
    <td colspan="2">Custom Element</td>
    <td colspan="6"><code>&lt;summary&gt;</code> as first child and any other content</td>
  </tr>
  <tr>
    <td colspan="2"><code>summary</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">Any, but should be a “summary, caption, or legend for the rest of the contents"</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>open</code></td>
    <td colspan="2">Boolean attribute</td>
    <td colspan="6">When present the details are shown; otherwise, they are hidden.</td>
  </tr>
  </tbody>
</table>
<h3 id="events">Events</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Detail</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>toggle</code></td>
    <td colspan="2">None</td>
    <td colspan="6">Fires after Details was opened or closed.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="title">What about HTMLDetailsElement?</h3>
<p>This element attempts to match the <code>HTMLDetailsElement</code> interface as close as possible, so when browser support for <code>&lt;dialog&gt;</code> is sufficient it will be removed from M- in favor of the native element. Breaking changes should be limited to just the "m-" prefix.</p>
<h3 id="necessary">Is the content even necessary?</h3>
<p>Although Details and <a href="/accordion">Accordion</a> are good for progressive disclosure, you should always consider if the hidden content could just be removed altogether.</p>
<h3 id="accessibility">Accessibility</h3>
<p>There are no accessibility recommendations for Foo.</p>
