<h1>File picker</h1>
<p>Special input for picking files.</p>
<h2 id="demo">Demo</h2>
<code-sample>
<template>
  <fieldset>
    <label>Pick a file</label>
    <m-filepicker multiple></m-filepicker>
  </fieldset>
</template>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>m-foo</code></td>
    <td>Custom tag</td>
    <td>Any</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Required</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>foo</code></td>
    <td>String</td>
    <td></td>
    <td>Desc</td>
  </tr>
  </tbody>
</table>
<h3 id="events">Events</h3>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Detail</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>m-dismiss</code></td>
    <td>None</td>
    <td>Fired after the Alert was removed from the DOM.</td>
  </tr>
  </tbody>
</table>
<h3 id="methods">Methods</h3>
<table>
  <thead>
  <tr>
    <th>Signature</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><code>dismiss()</code></td>
    <td>Removes the Alert from the DOM.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="title">Title</h3>
<p>Desc.</p>
<h3 id="accessibility">Accessibility</h3>
<p></p>
