<h1 class="mar-b-xs">Head tags</h1>
<h2 class="txt-gray-5 mar-t-none">Special tags for branding, SEO, and PWA purposes</h2>
<h2 id="demo">Demo</h2>
<p>Look at your browser tab, browser favorites page, home screen icon, search engine results, and more to see how these tags are working for M-. Your app would simply replace these values with assets for your app.</p>
<h2 id="api">API</h2>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="6">Tag</th>
    <th colspan="4">Purpose</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="6">
      <code>
        &lt;meta name="description" content="{Your description here.}"&gt;
      </code>
    </td>
    <td colspan="4">Used to summarize a page and is the text that shows up in search engine results.</td>
  </tr>
  <tr>
    <td colspan="6">
      <code>
        &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
      </code>
    </td>
    <td colspan="4">Configures device viewport to support responsive designs</td>
  </tr>
  <tr>
    <td colspan="6">
      <code>
        &lt;link rel="apple-touch-icon" sizes="180x180" href="path/to/apple-icon-180x180.png"&gt;
      </code>
      <code class="inline-block mar-t-sm">
        &lt;link rel="icon" type="image/png" sizes="192x192" href="/favicon.png"&gt;
      </code>
    </td>
    <td colspan="4">Browsers use these as tab and app icons.</td>
  </tr>
  <tr>
    <td colspan="6">
      <code>
        &lt;meta name="theme-color" content="#ffffff"&gt;
      </code>
    </td>
    <td colspan="4">Browsers use this is some areas to help your brand feel more embedded.</td>
  </tr>
  <tr>
    <td colspan="6">
      <code>
        &lt;meta name="msapplication-TileColor" content="#ffffff"&gt;
      </code><br>
      <code class="inline-block mar-t-sm">
        &lt;meta name="msapplication-TileImage" content="path/to/ms-icon-144x144.png"&gt;
      </code>
    </td>
    <td colspan="4">Windows uses these to help your brand feel more embedded.</td>
  </tr>
  <tr>
    <td colspan="6"><code>&lt;link rel="manifest" href="path/to/manifest.json" crossorigin="use-credentials"&gt;</code></td>
    <td colspan="4">Downloads the <a href="https://developer.mozilla.org/en-US/docs/Web/Manifest" target="_blank" rel="noopener">application
      manifest</a>, which includes helpful information for browsers to optimize the user experience.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="polish">Polish matters</h3>
<p>Don't underestimate the value of these tags. Browsers are more able to embed your website into the OS experience when these simple tags are found in your page and users expect this integrated look.</p>
