<h1 class="mar-b-xs">Head tags</h1>
<h2 class="txt-gray-5 mar-t-none">Special tags for branding, SEO, and PWA purposes</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  Look at your browser tab, favorites page, home screen icon, search results, and more
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tags</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>&lt;link rel="manifest" href="/manifest.json" crossorigin="use-credentials"&gt;</code></td>
    <td colspan="2">Native element | Custom tag | Custom Element</td>
    <td colspan="6">None | Text | Any | Something specific</td>
  </tr>
  <tr>
    <td colspan="2">
      <code>
        &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
      </code>
    </td>
    <td colspan="2">Native element | Custom tag | Custom Element</td>
    <td colspan="6">None | Text | Any | Something specific</td>
  </tr>
  </tbody>
</table>


<link rel="apple-touch-icon" sizes="180x180" href="https://www.redditstatic.com/desktop2x/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://www.redditstatic.com/desktop2x/img/favicon/android-icon-192x192.png">

<meta name="theme-color" content="#ffffff">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://www.redditstatic.com/desktop2x/img/favicon/ms-icon-144x144.png">



<h2 id="guidelines">Guidelines</h2>
<h3 id="title">Title</h3>
<p>Desc.</p>
<h3 id="accessibility">Accessibility</h3>
<p>There are no accessibility recommendations for Foo.</p>
