<h1 class="mar-b-xs">Head tags</h1>
<h2 class="txt-gray-5 mar-t-none">Special tags for branding, SEO, and PWA purposes</h2>
<h2 id="demo">Demo</h2>
<p class="mar-t-none pad-all-lg txt-center fnt-italic txt-gray-6">(Look at your browser tabs and favorites page, home screen icon, search engine results, and more to see how these tags are working for this site.<br>Your app would simply replace these values with assets for your app.)</p>
<h2 id="api">API</h2>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="6">Tag</th>
    <th colspan="4">Purpose</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="6">
      <code>
        &lt;meta name="description" content="My page description."&gt;
      </code>
    </td>
    <td colspan="4">Used to summarize a page and is the text that shows up in search engine results and smart links.</td>
  </tr>
  <tr>
    <td colspan="6">
      <code>
        &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
      </code>
    </td>
    <td colspan="4">Configures device viewport to support responsive designs</td>
  </tr>
  <tr>
    <td colspan="6">
      <code>
        &lt;link rel="apple-touch-icon" sizes="180x180" href="path/to/apple-icon-180x180.png"&gt;
      </code>
      <code class="inline-block mar-t-sm">
        &lt;link rel="icon" type="image/png" sizes="192x192" href="/favicon.png"&gt;
      </code>
    </td>
    <td colspan="4">Browsers use these as tab and app icons.</td>
  </tr>
  <tr>
    <td colspan="6">
      <code>
        &lt;meta name="theme-color" content="#ffffff"&gt;
      </code>
    </td>
    <td colspan="4">Browsers use this is some areas to help your brand feel more embedded.</td>
  </tr>
  <tr>
    <td colspan="6">
      <code>
        &lt;meta name="msapplication-TileColor" content="#ffffff"&gt;
      </code><br>
      <code class="inline-block mar-t-sm">
        &lt;meta name="msapplication-TileImage" content="path/to/ms-icon-144x144.png"&gt;
      </code>
    </td>
    <td colspan="4">Windows uses these to help your brand feel more embedded.</td>
  </tr>
  <tr>
    <td colspan="6"><code>&lt;link rel="manifest" href="path/to/manifest.json" crossorigin="use-credentials"&gt;</code></td>
    <td colspan="4">Downloads the <a href="https://developer.mozilla.org/en-US/docs/Web/Manifest" target="_blank" rel="noopener">application
      manifest</a>, which includes helpful information for browsers to optimize the user experience.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="polish">Polish matters</h3>
<p>Don't underestimate the details. Browsers are more able to embed your website into the OS experience when these tags are found in your site. They add a level of polish that's quite noticeable, so take a minute to add them.</p>
<h3 id="unfurl">Unfurling</h3>
<p>When you share a link in a social product like Twitter, LinkedIn, iMessage, or Slack, it "unfurls" into a preview, like this:</p>
<div class="flex txt-center">
  <div>
    <p>Slack</p>
    <img src="/img/slack-preview.png" alt="M- preview in Slack" height="100px">
  </div>
  <div class="mar-l-lg">
    <p>iMessage</p>
    <img src="/img/imessage-preview.png" alt="M- preview in Slack" height="100px">
  </div>
</div>
<p>These head tags and many others are required for a good unfurling. Slack has an
  <a href="https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb9254" target="_blank" rel="noopener">in-depth
    article</a> about this topic if you'd like to learn more.</p>
