<h1 class="txt-center">Getting Started</h1>
<p class="txt-center">M- is a lightweight design system built with web standards, which means it's extremely fast to download and execute and is compatible with all JavaScript frameworks past, present, and future.</p>
<div class="txt-center">
  <span>6kb</span>
  <span>Standards-based</span>
</div>
<h2>Installation</h2>
<h3>CDN</h3>
<p>Development: <a href="">path/to/file</a></p>
<p>Production: <a href="">path/to/file</a></p>
<h3>npm</h3>
<code>npm install m-</code>
<p>Built files are located in <code>/dist</code></p>
<h2>Browser support</h2>
<p>The last 2 versions of Chrome, Chrome for Android, Safari, iOS Safari, Firefox, and Edge are supported. Other modern browsers that support
  <a href="">Custom Elements</a> are likely to work, but are not tested. IE is not supported and is unlikely to work even if you polyfill.</p>
<h2>Demo</h2>
<p>Just include the production m- stylesheet and script from the CDN and it works:</p>
<code>
  html
  head
    link rel="stylesheet" href="https://cdn.com/path/to/file"
  body
    m-badge count="1"

    script src="https://cdn.com/path/to/file"
</code>
<p>Using M- with popular JavaScript libraries works just as well:</p>
<code>
  html
  head
  link rel="stylesheet" href="https://cdn.com/path/to/file"
  body
    div id="app"

  script src="https://cdn.com/path/to/file"
  script src="app.js"

  // Then inside a Vue or Riot or Svelte template...
  template
    div
      m-badge :count="count"

  div
    m-badge count={state.count}

  div
    m-badge {count}

  // Or React render function...
  render() {
    return
      div
        m-badge count={this.state.count}
  }
</code>
