<!-- TODO Icon set came from https://github.com/thesabbir/simple-line-icons need to verify license -->
<h1>Icons</h1>
<p>Symbols used to enhance communication.</p>
<h2 id="demo">Demo</h2>
<code-sample>
<m-icon name="user"></m-icon>
<m-icon name="paper-clip"></m-icon>
<m-icon name="menu"></m-icon>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>m-icon</code></td>
    <td colspan="2">Custom tag</td>
    <td colspan="6">None</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>name</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2"><a href="#all-icons">See icon names below</a></td>
    <td colspan="6">Sets the icon's symbol</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="accompany-label">Accompany with a label</h3>
<p>Icons should be used to <span class="font-italic">enhance</span> content not replace it. Strive to accompany an icon with a label or other relevant content in close proximity.</p>
<code-sample>
<m-icon name="user" aria-labelledby="name"></m-icon>
<span id="name">John Doe</span>
</code-sample>
<h3 id="accessibility">Accessibility</h3>
<p>Because icons should be accompanying a label (see above) they should reference that label with <a
        href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-labelledby_attribute"><code>aria-labelledby</code></a> attribute. In those cases where there is no label use
  <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-label_attribute"><code>aria-label</code></a>.</p>
<h3 id="all-icons">All icons</h3>
<fieldset>
  <input id="search-icons" type="text" placeholder="Search">
</fieldset>
<div id="icon-container"></div>
<script>
  // Find the m- stylesheet then parse out icon names from all the icon rules
  const mdashStyleSheet = Array.from(document.styleSheets).find(css => css.href && css.href.includes('m-'));
  const iconNames = Array.from(mdashStyleSheet.cssRules)
          .filter(rule => rule.selectorText && rule.selectorText.includes('m-icon[name='))
          .map(rule => rule.selectorText.match(/m-icon\[name=\"(.*)\"\]::before/)[1]);

  updateIcons(iconNames);

  document.getElementById('search-icons').addEventListener('keyup', e => {
    const query = e.currentTarget.value;
    const results = query ? iconNames.filter(name => name.includes(query)) : iconNames;
    updateIcons(results)
  });

  function updateIcons(icons) {
    let iconHtml = '';
    icons.forEach(name => iconHtml += `<div class="mar-all-md txt-center left"><m-icon name="${name}"></m-icon><div>${name}</div></div>`);
    document.getElementById('icon-container').innerHTML = iconHtml;
  }
</script>
