<h1 class="mar-b-xs">Link</h1>
<h2 class="txt-gray-5 mar-t-none">Used for navigating</h2>
<h2>Demo</h2>
<code-sample>
  <a href="#">Real link</a>,
  <span role="link">Fake link</span>
</code-sample>
<h2>API</h2>
<h3>Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>a</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">Any</td>
  </tr>
  </tbody>
</table>
<h3>Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>href</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">
      <ul type="none">
        <li>URL</li>
        <li>#{target fragment id}</li>
        <li>mailto:{email address}</li>
        <li>tel:{phone number}</li>
        <li>sms:{phone number}</li>
      </ul>
    </td>
    <td colspan="6">Sets the type of link. <p>Be sure to use target fragments or the other URL schemes correctly to ensure optimal user experience. Every phone number, for example, should be wrapped in a link with the <code>tel:</code> scheme to make it really convenient for the user to call that number.</p></td>
  </tr>
  <tr>
    <td colspan="2"><code>disabled</code></td>
    <td colspan="2">Boolean attribute</td>
    <td colspan="6">Disables the link.</td>
  </tr>
  </tbody>
</table>
<small><span class="fnt-bold">Note:</span> Not all anchor attributes are listed here. See <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#Attributes" target="_blank" rel="noopener">MDN: Anchor element - Attributes</a> for the full list.</small>
<p>For <span class="fnt-bold">span</span> elements only:</p>
<table layout="fixed">
  <tbody>
  <tr>
    <td colspan="2"><code>role</code> <small class="fnt-bold fnt-italic">required</small></td>
    <td colspan="2">link</td>
    <td colspan="6">Styles the element as a link. Use this instead of <code>&lt;a&gt;</code> when your use case is not a real link.</td>
  </tr>
  </tbody>
</table>
<h2>Guidelines</h2>
<h3 id="security">Security</h3>
<p>When linking to websites you don't control, you should add the <code>rel="noopener"</code> attribute.</p>
<h3 id="new-tab">Open link in new tab</h3>
<p>Very often it would be more convenient to users force a link to open in a new tab. This is especially true when a link goes to another website or when the link is on a page (or in a place on a page) that the user may have trouble getting back to. Simply add <code>target="_blank"</code></p>
<h3 id="a11y">Accessibility</h3>
<p>Links should behave as links, i.e. they activate when clicked. Links that don't behave this way should not use the anchor tag and should instead use a <code>span</code> with <code>role="link"</code> attribute to avoid confusing screen-readers. Also, groups of links like menus, breadcrumbs, or primary navigation should be contained in a <code>nav</code> element.</p>
