<h1>Menu</h1>
<p>Small containers opened by click...?</p>
<h2 id="demo">Demo</h2>
<code-sample>
<template>
  <m-menu>
    <button slot="trigger" ord="primary">Open menu</button>
    <div slot="items">
      <a href="">Link</a>
      <a href="">Link</a>
      <a href="">Link</a>
    </div>
  </m-menu>
</template>
</code-sample>
<p>See more <a href="/examples#Menus">examples</a></p>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>m-menu</code></td>
    <td colspan="2">Custom Element</td>
    <td colspan="6">trigger and items only</td>
  </tr>
  <tr>
    <td colspan="2"><code>trigger</code></td>
    <td colspan="2">Native button, but any element is permitted</td>
    <td colspan="6">Any</td>
  </tr>
  <tr>
    <td colspan="2"><code>items</code></td>
    <td colspan="2">Any</td>
    <td colspan="6">Links, but other content is permitted</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>open</code></td>
    <td colspan="2">Boolean attribute</td>
    <td colspan="6">When present the menu is shown; otherwise, it's hidden.</td>
  </tr>
  </tbody>
</table>
<h3 id="events">Events</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Detail</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>toggle</code></td>
    <td colspan="2">None</td>
    <td colspan="6">Fired after the Menu was removed from the DOM.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="title">Title</h3>
<p>Desc.</p>
<h3 id="accessibility">Accessibility</h3>
<p>There are no accessibility recommendations for Foo.</p>
