<h1 class="mar-b-xs">Range Slider</h1>
<h2 class="txt-gray-5 mar-t-none">Form element for fine-grained values</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <fieldset>
    <label>Price</label>
    <input type="range">
  </fieldset>
</code-sample>
<p>See more <a href="/examples#Foo">examples</a></p>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>input</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">None</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>min</code></td>
    <td colspan="2">Number</td>
    <td colspan="6">Minimum value, default is 0</td>
  </tr>
  <tr>
    <td colspan="2"><code>max</code></td>
    <td colspan="2">Number</td>
    <td colspan="6">Maximum value, default is 100</td>
  </tr>
  <tr>
    <td colspan="2"><code>step</code></td>
    <td colspan="2">Number</td>
    <td colspan="6">Sets the granularity of values, default is 1</td>
  </tr>
  <tr>
    <td colspan="2"><code>orient</code></td>
    <td colspan="2">vertical</td>
    <td colspan="6">Displays the range vertically</td>
  </tr>
  </tbody>
</table>
<h3 id="events">Events</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Detail</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>change</code></td>
    <td colspan="2">None</td>
    <td colspan="6">Fires after the value is committed.</td>
  </tr>
  <tr>
    <td colspan="2"><code>input</code></td>
    <td colspan="2">None</td>
    <td colspan="6">Fires as the value changes.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="vertical">Vertical orientation</h3>
<p>The orient vertical option works well for one range, but having multiple vertical ranges requires the following:</p>
<code-sample>
  <div class="flex">
    <fieldset class="pos-relative" style="width: 50px; height: 129px">
      <input type="range" orient="vertical">
    </fieldset>
    <fieldset class="pos-relative mar-t-none" style="width: 50px; height: 129px">
      <input type="range" orient="vertical">
    </fieldset>
    <fieldset class="pos-relative mar-t-none" style="width: 50px; height: 129px">
      <input type="range" orient="vertical">
    </fieldset>
  </div>
</code-sample>
<h3 id="a11y">Accessibility</h3>
<p>Use for and id.</p>
