<h1 class="mar-b-xs">Rules</h1>
<h2 class="txt-gray-5 mar-t-none">Vertical and horizontal line separators</h2>
<h2>Demo</h2>
<code-sample>
<a href="">Link</a>
<m-vbar></m-vbar>
<a href="">Link</a>
<m-vbar></m-vbar>
<span>Text</span>
<hr>
</code-sample>
<h2>API</h2>
<h3>Tags</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>hr</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">None</td>
  </tr>
  <tr>
    <td colspan="2"><code>m-vr</code></td>
    <td colspan="2">Custom tag</td>
    <td colspan="6">None</td>
  </tr>
  <tr>
    <td colspan="2"><code>m-vbar</code></td>
    <td colspan="2">Custom tag</td>
    <td colspan="6">None</td>
  </tr>
  </tbody>
</table>
<h2>Guidelines</h2>
<h3>Use sparingly</h3>
<p>Font size, font weight, whitespace, contrast and other characteristics are usually enough to create the needed distinction between elements, but occasionally another visual element like a rule can help.</p>
