<h1 class="mar-b-xs">Select</h1>
<h2 class="txt-gray-5 mar-t-none">Drop-down list of choices</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <fieldset>
    <label>Pick one</label>
    <select>
      <option>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>
  </fieldset>
  <fieldset>
    <label>Pick many</label>
    <select name="pets" multiple size="4">
      <optgroup label="4-legged pets">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="hamster">Hamster</option>
      </optgroup>
      <optgroup label="Flying pets">
        <option value="parrot">Parrot</option>
        <option value="macaw">Macaw</option>
        <option value="albatross">Albatross</option>
      </optgroup>
    </select>
  </fieldset>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>select</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6"><code>option</code> or <code>optgroup</code> children</td>
  </tr>
  <tr>
    <td colspan="2"><code>optgroup</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6"><code>option</code> children</td>
  </tr>
  <tr>
    <td colspan="2"><code>option</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">Text</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>label</code></td>
    <td colspan="2">String</td>
    <td colspan="6">Displayed as the group heading.</td>
  </tr>
  <tr>
    <td colspan="2"><code>value</code></td>
    <td colspan="2">String</td>
    <td colspan="6">Used as the <code>value</code> of the element.</td>
  </tr>
  </tbody>
</table>
<small><span class="fnt-bold">Note:</span> Not all input attributes are listed here. See <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select#Attributes" target="_blank" rel="noopener">MDN: Select element - Attributes</a> for the full list.</small>
<h3 id="events">Events</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Detail</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>change</code></td>
    <td colspan="2">None</td>
    <td colspan="6">Fired after an option was selected.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="more-autocomplete">More Autocomplete!</h3>
<p>Any select with a dozen or more options could benefit from becoming an <a href="/autocomplete">Autocomplete</a>. If you have all the data, it's just as easy to do as a normal select:</p>
<m-row>
  <m-col>
    <code-sample readonly="readonly">
      <fieldset>
        <label>State</label>
        <select>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="SD">South Dakota</option>
          <option value="...">...</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
      </fieldset>
    </code-sample>
  </m-col>
  <m-col>
    <code-sample readonly="readonly">
      <fieldset>
        <label>State</label>
        <m-autocomplete source="states"></m-autocomplete>
        <datalist id="states">
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="SD">South Dakota</option>
          <option value="...">...</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </datalist>
      </fieldset>
    </code-sample>
  </m-col>
</m-row>
<h3 id="accessibility">Accessibility</h3>
<p>Label should use the <code>for</code> attribute to reference the id of its corresponding select.</p>
