<h1>Table</h1>
<p>Used for tabular data.</p>
<h2 id="demo">Demo</h2>
<code-sample>
  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Socks</td>
      <td>$9.99</td>
    </tr>
    <tr>
      <td>Sweater</td>
      <td>$29.99</td>
    </tr>
    </tbody>
  </table>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>table</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6"><code>thead</code> (optional) and <code>tbody</code></td>
  </tr>
  <tr>
    <td colspan="2"><code>thead</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6"><code>tr</code> with <code>th</code></td>
  </tr>
  <tr>
    <td colspan="2"><code>tbody</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6"><code>tr</code> with <code>td</code></td>
  </tr>
  <tr>
    <td colspan="2"><code>tfoot</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6"><code>tr</code> with <code>td</code></td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>layout</code></td>
    <td colspan="2">fixed</td>
    <td colspan="6">Table cells are sized automatically by the browser. This doesn't always produce the desired layout, so use this option with <code>colspan</code> to control the layout. Note this option does not mean the table size won't change at all - it'll still respond nicely to screen size.</td>
  </tr>
  <tr>
    <td colspan="2"><code>colspan</code></td>
    <td colspan="2">Number</td>
    <td colspan="6">Defines how many columns the cell should span.</td>
  </tr>
  <tr>
    <td colspan="2"><code>striped</code></td>
    <td colspan="2">Boolean attribute</td>
    <td colspan="6">Adds background color to alternate rows.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="page-layout">Page layout</h3>
<p>Use <a href="/grid">Grid</a> for creating a page's layout. Do not use Table.</p>
<h3 id="accessibility">Accessibility</h3>
<p></p>
