<h1>Foo</h1>
<p>Desc.</p>
<h2 id="demo">Demo</h2>
<code-sample>
  <m-foo></m-foo>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tag</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="1">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1"><code>m-foo</code></td>
    <td colspan="2">Native element | Custom tag | Custom Element</td>
    <td colspan="6">None | Any | Something specific</td>
  </tr>
  </tbody>
</table>
<h3 id="attributes">Attributes</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="1">Name</th>
    <th colspan="2">Value</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1"><code>foo</code></td>
    <td colspan="2">String</td>
    <td colspan="6">Desc</td>
  </tr>
  </tbody>
</table>
<h3 id="events">Events</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="1">Name</th>
    <th colspan="2">Detail</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1"><code>m-dismiss</code></td>
    <td colspan="2">None</td>
    <td colspan="6">Fired after the Foo was removed from the DOM.</td>
  </tr>
  </tbody>
</table>
<h3 id="methods">Methods</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="3">Signature</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="3"><code>dismiss()</code></td>
    <td colspan="6">Removes the Foo from the DOM.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="title">Title</h3>
<p>Desc.</p>
<h3 id="accessibility">Accessibility</h3>
<p></p>
