<h1 class="mar-b-xs">Text</h1>
<h2 class="txt-gray-5 mar-t-none">Headings, paragraphs, and other text-based elements</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <p>This is a paragraph. And here is <span class="fnt-bold">bold text</span> and some <span class="fnt-italic">italic text</span>. More text variations can be done using the <a href="/utility-classes">utility classes</a>.</p>
  <small>This is for small print, side-comments, disclaimers, etc.</small>
</code-sample>
<h2 id="api">API</h2>
<h3 id="tag">Tags</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="2">Type</th>
    <th colspan="6">Content</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>h[1-6]</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">Any</td>
  </tr>
  <tr>
    <td colspan="2"><code>p</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">Any</td>
  </tr>
  <tr>
    <td colspan="2"><code>small</code></td>
    <td colspan="2">Native element</td>
    <td colspan="6">Any, but intended to represent "side-comments...small print, like copyright and legal text, independent of its styled presentation."</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="line-length">Characters per line</h3>
<p>It is recommend that lines of text be no more than <span class="fnt-bold">65-75 characters</span>, including spaces (<span
        class="fnt-italic">Designing
  With Type</span>, James Craig). This makes for a more comfortable reading experience. Usability studies dating back to the 1970's show readers experience fatigue with text running longer than this.</p>
<h3 id="seo">SEO</h3>
<p>Using text elements semantically improves SEO and accessibility.</p>
<h3 id="a11y">Accessibility</h3>
<p>The smallest font size that M- has is 13px, which is the smallest recommended by WCAG 2.1. Any smaller can be illegible for some users.</p>
