<h1 class="mar-b-xs">Utility Classes</h1>
<h2 class="txt-gray-5 mar-t-none">210+ CSS shortcuts and utility classes</h2>
<h2 id="demo">Demo</h2>
<code-sample>
  <div class="inline-flex align-items-center bg-gray-1 brd-radius-md brd pad-md">
    <img src="/img/homer.png" height="78" class="brd-radius-full mar-r-md">
    <div>
      <div class="txt-md txt-nowrap">Homer J. Simpson</div>
      <div class="txt-sm txt-gray-6 mar-b-xs">Safety Inspector</div>
      <a href="mailto:Chunkylover53@aol.com" class="fnt-light txt-xs">Chunkylover53@aol.com</a>
      <br>
      <a href="tel:+15555556543" class="fnt-light txt-xs">555-7334</a>
    </div>
  </div>
</code-sample>
<h2 id="api">API</h2>
<p>Categories:
  <a href="#display" class="mar-r-md mar-l-xs">Display</a>
  <a href="#flexbox" class="mar-r-md">Flexbox</a>
  <a href="#float" class="mar-r-md">Float</a>
  <a href="#spacing" class="mar-r-md">Spacing</a>
  <a href="#position" class="mar-r-md">Position</a>
  <a href="#font" class="mar-r-md">Font</a>
  <a href="#text" class="mar-r-md">Text</a>
  <a href="#border" class="mar-r-md">Border</a>
  <a href="#background" class="mar-r-md">Background</a>
  <a href="#other" class="mar-r-md">Other</a>
</p>
<h3 id="display">Display</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>grid</code></td>
    <td colspan="6">Shortcut for display: grid</td>
  </tr>
  <tr>
    <td colspan="2"><code>inline-grid</code></td>
    <td colspan="6">Shortcut for display: inline-grid</td>
  </tr>
  <tr>
    <td colspan="2"><code>flex</code></td>
    <td colspan="6">Shortcut for display: flex</td>
  </tr>
  <tr>
    <td colspan="2"><code>inline-flex</code></td>
    <td colspan="6">Shortcut for display: inline-flex</td>
  </tr>
  <tr>
    <td colspan="2"><code>block</code></td>
    <td colspan="6">Shortcut for display: block</td>
  </tr>
  <tr>
    <td colspan="2"><code>inline-block</code></td>
    <td colspan="6">Shortcut for display: inline-block</td>
  </tr>
  <tr>
    <td colspan="2"><code>inline</code></td>
    <td colspan="6">Shortcut for display: inline</td>
  </tr>
  <tr>
    <td colspan="2"><code>hidden</code></td>
    <td colspan="6">Shortcut for display: none</td>
  </tr>
  </tbody>
</table>
<h3 id="flexbox">Flexbox</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>flx-grow-0</code></td>
    <td colspan="6">Shortcut for flex-grow: 0</td>
  </tr>
  <tr>
    <td colspan="2"><code>flx-grow-1</code></td>
    <td colspan="6">Shortcut for flex-grow: 1</td>
  </tr>
  <tr>
    <td colspan="2"><code>flx-shrink-0</code></td>
    <td colspan="6">Shortcut for flex-shrink: 0</td>
  </tr>
  <tr>
    <td colspan="2"><code>flx-shrink-1</code></td>
    <td colspan="6">Shortcut for flex-shrink: 1</td>
  </tr>
  <tr>
    <td colspan="2"><code>flx-wrap</code></td>
    <td colspan="6">Shortcut for flex-wrap: wrap</td>
  </tr>
  <tr>
    <td colspan="2"><code>flx-col</code></td>
    <td colspan="6">Shortcut for flex-direction: column</td>
  </tr>
  <tr>
    <td colspan="2"><code>flx-row</code></td>
    <td colspan="6">Shortcut for flex-direction: row</td>
  </tr>
  <tr>
    <td colspan="2"><code>flx-basis-content</code></td>
    <td colspan="6">Shortcut for flex-basic: content</td>
  </tr>
  <tr>
    <td colspan="2"><code>justify-content-start</code></td>
    <td colspan="6">Shortcut for justify-content: flex-start</td>
  </tr>
  <tr>
    <td colspan="2"><code>justify-content-center</code></td>
    <td colspan="6">Shortcut for justify-content: center</td>
  </tr>
  <tr>
    <td colspan="2"><code>justify-content-between</code></td>
    <td colspan="6">Shortcut for justify-content: between</td>
  </tr>
  <tr>
    <td colspan="2"><code>justify-content-evenly</code></td>
    <td colspan="6">Shortcut for justify-content: evenly</td>
  </tr>
  <tr>
    <td colspan="2"><code>justify-content-around</code></td>
    <td colspan="6">Shortcut for justify-content: around</td>
  </tr>
  <tr>
    <td colspan="2"><code>justify-content-end</code></td>
    <td colspan="6">Shortcut for justify-content: flex-end</td>
  </tr>
  <tr>
    <td colspan="2"><code>align-items-center</code></td>
    <td colspan="6">Shortcut for align-items: center</td>
  </tr>
  <tr>
    <td colspan="2"><code>align-items-start</code></td>
    <td colspan="6">Shortcut for align-items: flex-start</td>
  </tr>
  <tr>
    <td colspan="2"><code>align-items-end</code></td>
    <td colspan="6">Shortcut for align-items: flex-end</td>
  </tr>
  <tr>
    <td colspan="2"><code>align-self-stretch</code></td>
    <td colspan="6">Shortcut for align-self: stretch</td>
  </tr>
  <tr>
    <td colspan="2"><code>align-self-center</code></td>
    <td colspan="6">Shortcut for align-self: center</td>
  </tr>
  <tr>
    <td colspan="2"><code>align-self-start</code></td>
    <td colspan="6">Shortcut for align-self: flex-start</td>
  </tr>
  <tr>
    <td colspan="2"><code>align-self-end</code></td>
    <td colspan="6">Shortcut for align-self: flex-end</td>
  </tr>
  </tbody>
</table>
<h3 id="float">Float</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>left</code></td>
    <td colspan="6">Shortcut for float: left</td>
  </tr>
  <tr>
    <td colspan="2"><code>right</code></td>
    <td colspan="6">Shortcut for float: right</td>
  </tr>
  <tr>
    <td colspan="2"><code>clear</code></td>
    <td colspan="6">Shortcut for clear: both</td>
  </tr>
  </tbody>
</table>
<h3 id="spacing">Spacing</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="3">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="3"><code>pad-[xs|sm|md|lg|xl|none]</code></td>
    <td colspan="6">Sets padding on all sides in the specified size. Sizes map to the
      <a href="/custom-props#space">space custom props</a>.</td>
  </tr>
  <tr>
    <td colspan="3"><code>pad-[t|r|b|l]-[xs|sm|md|lg|xl|none]</code></td>
    <td colspan="6">Sets padding on the specified side (top, right, bottom, or left) in the specified size. Sizes map to the
      <a href="/custom-props#space">space custom props</a>.</td>
  </tr>
  <tr>
    <td colspan="3"><code>mar-[xs|sm|md|lg|xl|none]</code></td>
    <td colspan="6">Sets margin on all sides in the specified size. Sizes map to the
      <a href="/custom-props#space">space custom props</a>.</td>
  </tr>
  <tr>
    <td colspan="3"><code>mar-[t|r|b|l]-[xs|sm|md|lg|xl|none]</code></td>
    <td colspan="6">Sets margin on the specified side (top, right, bottom, or left) in the specified size. Sizes map to the
      <a href="/custom-props#space">space custom props</a>.</td>
  </tr>
  <tr>
    <td colspan="3"><code>gap-[xs|sm|md|lg|xl|none]</code></td>
    <td colspan="6">Sets gap to the specified size. Sizes map to the
      <a href="/custom-props#space">space custom props</a>.</td>
  </tr>
  </tbody>
</table>
<h3 id="position">Position</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>pos-absolute</code></td>
    <td colspan="6">Shortcut for position: absolute</td>
  </tr>
  <tr>
    <td colspan="2"><code>pos-fixed</code></td>
    <td colspan="6">Shortcut for position: fixed</td>
  </tr>
  <tr>
    <td colspan="2"><code>pos-relative</code></td>
    <td colspan="6">Shortcut for position: relative</td>
  </tr>
  <tr>
    <td colspan="2"><code>pos-static</code></td>
    <td colspan="6">Shortcut for position: static</td>
  </tr>
  <tr>
    <td colspan="2"><code>pos-sticky</code></td>
    <td colspan="6">Shortcut for position: sticky</td>
  </tr>
  <tr>
    <td colspan="2"><code>pin-[t|r|b|l]</code></td>
    <td colspan="6">Shortcut for setting top, right, bottom, or left to zero</td>
  </tr>
  </tbody>
</table>
<h3 id="font">Font</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>fnt-bold</code></td>
    <td colspan="6">Shortcut for font-weight: 700</td>
  </tr>
  <tr>
    <td colspan="2"><code>fnt-med</code></td>
    <td colspan="6">Shortcut for font-weight: 500</td>
  </tr>
  <tr>
    <td colspan="2"><code>fnt-reg</code></td>
    <td colspan="6">Shortcut for font-weight: 400</td>
  </tr>
  <tr>
    <td colspan="2"><code>fnt-light</code></td>
    <td colspan="6">Shortcut for font-weight: 300</td>
  </tr>
  <tr>
    <td colspan="2"><code>fnt-italic</code></td>
    <td colspan="6">Shortcut for font-style: italic</td>
  </tr>
  <tr>
    <td colspan="2"><code>fnt-mono</code></td>
    <td colspan="6">Shortcut for font-family: monospace</td>
  </tr>
  <tr>
    <td colspan="2"><code>fnt-normal</code></td>
    <td colspan="6">Shortcut for font-style: normal</td>
  </tr>
  </tbody>
</table>
<h3 id="text">Text</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>txt-left</code></td>
    <td colspan="6">Shortcut for text-align: left</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-right</code></td>
    <td colspan="6">Shortcut for text-align: right</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-center</code></td>
    <td colspan="6">Shortcut for text-align: center</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-justify</code></td>
    <td colspan="6">Shortcut for text-align: justify</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-lower</code></td>
    <td colspan="6">Shortcut for text-transform: lowercase</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-upper</code></td>
    <td colspan="6">Shortcut for text-transform: uppercase</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-caps</code></td>
    <td colspan="6">Shortcut for text-transform: capitalize</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-space</code></td>
    <td colspan="6">Shortcut for letter-spacing: 2px</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-truncate</code></td>
    <td colspan="6">Truncates overflowing text and shows an ellipsis.</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-nowrap</code></td>
    <td colspan="6">Shortcut for white-space: nowrap. Good for forcing inline elements to stretch wide enough to accommodate the text.</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-break-all</code></td>
    <td colspan="6">Shortcut for word-break: break-all. Good for permitting characters to wrap when there's not enough room.</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-break-word</code></td>
    <td colspan="6">Shortcut for word-break: break-word. Good for permitting words to wrap when there's not enough room.</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-noselect</code></td>
    <td colspan="6">Prevents the user from selecting the text of this element.</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-[xs|sm|md|lg|xl|xxl]</code></td>
    <td colspan="6">Sets font-size.</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-[color-name]</code></td>
    <td colspan="6">Sets text color. The class names map to the
      <a href="/custom-props#colors">color custom props</a>, e.g. <code>txt-red-dark</code> => <code>--m-color-red-dark</code>.</td>
  </tr>
  <tr>
    <td colspan="2"><code>txt-[info|success|warn|error]</code></td>
    <td colspan="6">Sets text color to the alert type.</td>
  </tr>
  </tbody>
</table>
<h3 id="border">Border</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>brd</code></td>
    <td colspan="6">Adds a border.</td>
  </tr>
  <tr>
    <td colspan="2"><code>brd-[t|r|b|l]</code></td>
    <td colspan="6">Adds a border to the specified side.</td>
  </tr>
  <tr>
    <td colspan="2"><code>brd-none</code></td>
    <td colspan="6">Removes border from all sides.</td>
  </tr>
  <tr>
    <td colspan="2"><code>brd-radius-[sm|md|full]</code></td>
    <td colspan="6">Sets border radius. Use <code>full</code> to create a circle.</td>
  </tr>
  <tr>
    <td colspan="2"><code>brd-[sm|md]</code></td>
    <td colspan="6">Sets border width.</td>
  </tr>
  <tr>
    <td colspan="2"><code>brd-dashed</code></td>
    <td colspan="6">Sets border style to <code>dashed</code>. Good for placeholders and drop targets.</td>
  </tr>
  </tbody>
</table>
<h3 id="background">Background</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>bg-clip-text</code></td>
    <td colspan="6">Clips background to match foreground text.</td>
  </tr>
  <tr>
    <td colspan="2"><code>bg-cover</code></td>
    <td colspan="6">Background will be scaled to fill entire area of element. The aspect ratio is preserved, but the image may be cropped.</td>
  </tr>
  <tr>
    <td colspan="2"><code>bg-contain</code></td>
    <td colspan="6">Background will be scaled to fit size of element. The aspect ratio is preserved and the image will not be cropped.</td>
  </tr>
  <tr>
    <td colspan="2"><code>bg-[color-name]</code></td>
    <td colspan="6">Sets background color. The class names map to the
      <a href="/custom-props#colors">color custom props</a>, e.g. <code>bg-red-dark</code> => <code>--m-color-red-dark</code>.</td>
  </tr>
  </tbody>
</table>
<h3 id="other">Other</h3>
<table layout="fixed">
  <thead>
  <tr>
    <th colspan="2">Name</th>
    <th colspan="6">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2"><code>pointer</code></td>
    <td colspan="6">Shortcut for cursor: pointer. Useful when you want an element to seem clickable. Buttons and links already have pointer set.</td>
  </tr>
  <tr>
    <td colspan="2"><code>full-height</code></td>
    <td colspan="6">Shortcut for height: 100%</td>
  </tr>
  <tr>
    <td colspan="2"><code>full-width</code></td>
    <td colspan="6">Shortcut for width: 100%</td>
  </tr>
  <tr>
    <td colspan="2"><code>auto-width</code></td>
    <td colspan="6">Shortcut for width: auto</td>
  </tr>
  <tr>
    <td colspan="2"><code>box-border</code></td>
    <td colspan="6">Shortcut for box-sizing: border-box</td>
  </tr>
  <tr>
    <td colspan="2"><code>box-content</code></td>
    <td colspan="6">Shortcut for box-sizing: content-box</td>
  </tr>
  <tr>
    <td colspan="2"><code>overflow-auto</code></td>
    <td colspan="6">Shortcut for overflow: auto</td>
  </tr>
  <tr>
    <td colspan="2"><code>overflow-hidden</code></td>
    <td colspan="6">Shortcut for overflow: hidden</td>
  </tr>
  <tr>
    <td colspan="2"><code>vis-hidden</code></td>
    <td colspan="6">Shortcut for visibility: hidden</td>
  </tr>
  <tr>
    <td colspan="2"><code>push</code></td>
    <td colspan="6">Shortcut for margin-left: auto. Works well to push a flex item to the end.</td>
  </tr>
  <tr>
    <td colspan="2"><code>pull</code></td>
    <td colspan="6">Shortcut for margin-right: auto</td>
  </tr>
  <tr>
    <td colspan="2"><code>shadow</code></td>
    <td colspan="6">Adds default shadow</td>
  </tr>
  <tr>
    <td colspan="2"><code>content-vis-auto</code></td>
    <td colspan="6">Shortcut for content-visibility: auto. Use on large sections of content not visible to the user after page load. The browser skips rendering and layout until needed thereby reducing the initial page rendering time.</td>
  </tr>
  </tbody>
</table>
<h2 id="guidelines">Guidelines</h2>
<h3 id="maintenance">Reduce CSS maintenance</h3>
<p>You can drastically cut down and even eliminate your CSS maintenance by leveraging these classes as much as possible.</p>
<h3 id="templating">Create and use templates</h3>
<p>The demo above with all those classes is fine on its own or even 2-3 copies sitting next to each other, but beyond that you'll want a way to reuse chunks of HTML.</p>
<p>Reuse is possible with the <code>&lt;template&gt;</code> element or template literals (see below). If standard tools aren't enough, templating partials or static components are another low-code option. Avoid the temptation to turn every chunk of HTML into a framework-dependent component.</p>
<code-sample mode="javascript" readonly="readonly">
  export function userCardTemplate(imgUrl, name, title, email, phone) {
    return `
      <div class="inline-flex align-items-center bg-gray-1 brd-radius-md brd pad-md">
        <img src="$\{imgUrl}" height="78" class="brd-radius-full mar-r-md">
        <div>
          <div class="txt-md txt-nowrap">$\{name}</div>
          <div class="txt-sm txt-gray-6 mar-b-xs">$\{title}</div>
          <a href="mailto:$\{email}" class="fnt-light txt-xs">$\{email}</a>
          <br>
          <a href="tel:+1$\{phone.replaceAll('-', '')}" class="fnt-light txt-xs">$\{phone}</a>
        </div>
      </div>
    `
  }

  const homerCard = userCardTemplate('/img/homer.png', 'Homer J. Simpson', 'Safety Inspector', 'Chunkylover53@aol.com', '555-7334')
</code-sample>
<h3 id="a11y">Accessibility</h3>
<p>There are no accessibility recommendations for these classes.</p>
