button {cursor: pointer;}
button:active, button:focus {outline:0;}

button + button,
button + a[role=button],
a[role=button] + button {
  margin-left: var(--space-sm);
}
/*
  The ord attr is short for "ordinal" as in "ordinal number word".
  Ordinal number words are the 10+ words used for describing the
  precedence or importance of an item in an ordered list.
*/
button[ord], a[role=button][ord] {
  display: inline-block;
  box-sizing: border-box;
  min-height: var(--input-min-height);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 18px;
  cursor: pointer;
  background: none;
}

a[role=button][ord]:hover {
  text-decoration: none;
}

button[ord=primary], a[role=button][ord=primary] {
  background-color: var(--color-primary-action);
  color: white;
}

button[ord=secondary], a[role=button][ord=secondary] {
  border: 2px solid var(--color-primary-action);
  color: var(--color-primary-action);
}

button[ord=tertiary], a[role=button][ord=tertiary] {
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
}

