/* Base code styles */
code, pre {
  color: var(--m-color-red-3);
}

/* Inline code */
code {
  border-radius: var(--m-radius-2);
  background-color: var(--m-color-gray-2);
  padding: 1px var(--m-space-1);
}

/* Multi-line code */
pre {
  background-color: white;
  margin: var(--m-space-3) 0;
  border-radius: var(--m-radius-4);

  & code {
    background-color: inherit;
    display: block;
    overflow: auto;
    padding: var(--m-space-3) !important;
  }
}

