/* Base code styles */
code,
pre {
  border-radius: var(--m-border-radius-4);
  color: var(--m-color-red-3);
}

/* Inline code */
code {
  background-color: var(--m-color-gray-2);
  padding: 1px 3px;
}

/* Multi-line code */
pre {
  background-color: white;
  margin: var(--m-space-3) 0;

  & code {
    background-color: inherit;
    display: block;
    overflow: auto;
    padding: var(--m-space-3) !important;
  }
}

