:root {
  /* Colors */
  --m-color-gray-1: #f8f8f8;
  --m-color-gray-2: #ededed;
  --m-color-gray-3: #ccc;
  --m-color-gray-4: #9c9c9c;
  --m-color-gray-5: #838383;
  --m-color-gray-6: #6e6e6e;
  --m-color-gray-7: #404040;
  --m-color-gray-8: #333;
  --m-color-gray-9: #282828;
  --m-color-blue-1: #d8ebfe;
  --m-color-blue-2: #6990ee;
  --m-color-blue-3: #494eaa;
  --m-color-red-1: #fce2de;
  --m-color-red-2: #eb6176;
  --m-color-red-3: #a2204f;
  --m-color-green-1: #ccf3ca;
  --m-color-green-2: #26a573;
  --m-color-green-3: #146146;
  --m-color-orange-1: #f6e5bb;
  --m-color-orange-2: #e36f4f;
  --m-color-orange-3: #963712;

  --m-color-disabled-fg: var(--m-color-gray-4);
  --m-color-disabled-bg: var(--m-color-gray-1);

  --m-color-focus: var(--m-color-blue-1);

  --m-color-primary-action: #1a73e8;

  --m-color-primary-bg: white;
  --m-color-border: var(--m-color-gray-2);

  /* Borders */
  --m-border-radius-sm: 2px;
  --m-border-radius-md: 4px;
  --m-border-radius-lg: 6px;
  --m-border-radius-full: 9999px;

  /* Other */
  --m-max-content-width: 1320px; /* The 16" MacBook Pro */
  --m-input-min-height: 34px; /* @deprecated */
  --m-target-size: var(--m-space-10); /* WCAG Level AA recommended touch target recommendation is 44 */
  --m-target-min-size: var(--m-space-6); /* WCAG Level AA minimum target recommendation is 24x24 */

  /* Spacing (base 4, evens only plus 1 & 3) */
  --m-space-xs: 6px; /* @deprecated */
  --m-space-sm: 12px; /* @deprecated */
  --m-space-md: 18px; /* @deprecated */
  --m-space-lg: 30px; /* @deprecated */
  --m-space-xl: 48px; /* @deprecated */
  --m-space-1: 4px;
  --m-space-2: 8px;
  --m-space-3: 12px;
  --m-space-4: 16px;
  --m-space-6: 24px;
  --m-space-8: 32px;
  --m-space-10: 40px;
  --m-space-12: 48px;
  --m-space-14: 56px;

  /* Breakpoints */
  --m-breakpoint-sm: 440px; /* At and below is "phone", based on iPhone 16 Pro Max's 6.9" screen.  */
  --m-breakpoint-md: 900px; /* At and below is "tablet", slightly bigger than an iPad 11" screen. */
  --m-breakpoint-lg: 901px; /* At and above is considered large enough to be grouped among laptop & desktop devices. */

  /* Font */
  --m-font-size-min: 13px; /* WCAG recommendation */
  --m-font-size-default: 16px;
  --m-font-size-md: 18px;
  --m-font-size-lg: 24px;
  --m-font-size-xl: 32px;
}
