@import "custom-props.css";

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

fieldset + fieldset,
fieldset + button[ord],
fieldset + a[is=button] {
  margin-top: var(--m-space-md);
}

fieldset label,
fieldset input:not([type=radio]):not([type=checkbox]),
fieldset select {
  display: block;
}

fieldset input + label {
  display: inline;
}

fieldset label,
fieldset legend {
  font-weight: 500;
}

fieldset input[type=radio] + label,
fieldset input[type=checkbox] + label {
  font-weight: normal;
}

fieldset input, fieldset textarea {box-sizing: border-box}

fieldset input:not([type=radio]):not([type=checkbox]):not([type=range]),
fieldset select,
fieldset textarea {
  width: 100%;
  min-height: var(--m-input-min-height);
  font-size: 16px;
  padding: 6px;
  border-radius: 0px;
  background-color: white;
  color: var(--m-color-darker);
}

fieldset input,
fieldset select,
fieldset textarea {
  border: 1px solid var(--m-color-gray-1);
}

fieldset select:not([multiple]) {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='22px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: var(--m-space-lg);
}

fieldset textarea {
  resize: vertical;
  font-family: inherit;
}

fieldset input[type=range] {
  appearance: none;
  width: 100%;
  margin: var(--m-space-sm) 0;
  height: var(--m-space-xs);
  background-color: var(--m-color-gray-3);
  border-radius: var(--m-border-radius-full);
}

fieldset input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: var(--m-space-md);
  height: var(--m-space-md);
  border: 1px solid var(--m-color-gray-4);
  background-color: white;
  border-radius: var(--m-border-radius-full);
}

/*input[type=range][orient=vertical] {*/
/*  transform: rotate(-90deg);*/
/*  position: absolute;*/
/*  top: 48%;*/
/*  left: -78%;*/
/*  margin: 0;*/
/*}*/

fieldset label + input,
fieldset label + select,
fieldset label + textarea,
fieldset input + input,
fieldset input + select,
fieldset input + textarea,
fieldset select + select,
fieldset select + input,
fieldset select + textarea,
fieldset textarea + textarea,
fieldset textarea + input,
fieldset textarea + select,
fieldset small + input,
fieldset small + select,
fieldset small + textarea {
  margin-top: var(--m-space-xs);
}

fieldset input:not([type=range]):not([is=switch]):focus,
fieldset select:focus,
fieldset textarea:focus {
  outline: 0;
  border: 1px solid var(--m-color-primary-action);
}

fieldset input:invalid,
fieldset input[invalid],
fieldset select:invalid,
fieldset select[invalid],
fieldset textarea:invalid,
fieldset textarea[invalid] {
  border-color: var(--m-color-red-dark);
}

fieldset input:invalid + small,
fieldset input[invalid] + small,
fieldset select:invalid + small,
fieldset select[invalid] + small,
fieldset textarea:invalid + small,
fieldset textarea[invalid] + small {
  color: var(--m-color-red-dark);
}

fieldset input + small,
fieldset select + small,
fieldset textarea + small {
  color: var(--m-color-gray-6);
}
