@import "custom-props.css";

a, [is="a"] {
  text-decoration: none;
  color: var(--color-primary-action);
  cursor: pointer;
}

a:visited, [is="a"]:visited { color: var(--color-primary-action) }
a:hover, [is="a"]:hover { text-decoration: underline }

a[disabled], [is="a"][disabled] {
  color: var(--color-disabled-fg);
  pointer-events: none;
}
