/* Base link styles */
a, span[role=link] {
  text-decoration: none;
  color: var(--m-color-primary-action);
  cursor: pointer;
}

a:visited, span[role=link]:visited { color: var(--m-color-primary-action) }
a:hover, span[role=link]:hover { text-decoration: underline }

/* Disabled state */
a[disabled], span[role=link][disabled] {
  color: var(--m-color-disabled-fg);
  pointer-events: none;
}

/* Dark theme */
@media screen and (prefers-color-scheme: dark) {
  a, span[role=link],
  a:visited, span[role=link]:visited {
    color: #6990ee;
  }
}