/* Ordered and unordered base styles */
ul, ol, dl { margin: 0 }
ul, ol { padding-left: var(--m-space-5) }

/* None type (no bullets) */
ul[type=none] {
  list-style: none;
  padding-left: 0;
}

/* Definition list base styles */
dd { margin-inline-start: 0 }
dl {
  & > dt {
    margin-top: var(--m-space-3);
    text-transform: uppercase;
    font-size: var(--m-font-size-min);
    font-weight: bold;

    &:first-of-type { margin-top: 0 }
  }
}

/* Content list base styles */
:is(ul, ol)[type=content] {
  list-style: none;
  padding-left: 0;

  & > li:not(:last-of-type) {
    border-bottom: 1px solid var(--m-color-border)
  }
}

