ul, ol, dl { margin: 0 }
ul, ol { padding-left: var(--m-space-lg) }

ul[type=none] {
  list-style: none;
  padding-left: 0;
}

dd { margin-inline-start: 0 }
dl > dt {
  margin-top: var(--m-space-sm);
  text-transform: uppercase;
  font-size: var(--m-font-size-min);
  font-weight: bold;
}
dl > dt:first-of-type {margin-top: 0}

/* Content list base styles */
:is(ul, ol)[type=content] {
  list-style: none;
  padding-left: 0;
}

:is(ul, ol)[type=content] > li:not(:last-of-type) {
  border-bottom: 1px solid var(--m-color-border)
}

