ul, ol, dl { margin: 0 }
ul, ol { padding-left: var(--space-lg) }

ul[type=none] {
  list-style: none;
  padding-left: 0;
}

dd { margin-inline-start: 0 }
dl > dt {
  margin-top: var(--space-sm);
  text-transform: uppercase;
  font-size: var(--font-size-min);
  font-weight: bold;
}
dl > dt:first-of-type {margin-top: 0}
