m-accordion {
  display: block;
}

m-accordion > m-details {
  border-top: 2px solid var(--color-gray-2);
}

m-accordion > m-details:last-child {
  border-bottom: 2px solid var(--color-gray-2);
}

m-accordion > m-details > summary {
  padding: var(--space-sm) 0;
  position: relative;
}

m-accordion > m-details > summary:after {
  font-family: 'simple-line-icons';
  content: '\e604';
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  transform: rotate(0deg);
  transition: transform 250ms;

}

m-accordion > m-details[open] > summary:after {
  transform: rotate(180deg);
  transition: transform 250ms;
}