m-accordion {
  display: block;

  /* Summary icon (custom or default) */
  --icon: 'expand_more';
  &[icon] {
    --icon: attr(icon);
  }

  /* Details */
  & > details {
    border-top: 3px solid var(--m-color-gray-2);

    &:last-child { border-bottom: 3px solid var(--m-color-gray-2) }

    /* Open state */
    &[open] > summary:after {
      transform: rotate(180deg);
      transition: transform 250ms;
    }

    /* Summary */
    & > summary {
      padding: var(--m-space-3) var(--m-space-12) var(--m-space-3) var(--m-space-3);
      position: relative;

      &:focus-visible { outline: 2px solid var(--m-color-focus) }

      /* Summary icon */
      &:after {
        font-family: 'm-icons';
        font-size: 20px;
        line-height: 1;
        content: var(--icon);
        position: absolute;
        top: var(--m-space-3);
        right: var(--m-space-3);
        transform: rotate(0deg);
        transition: transform 250ms;
      }
    }
  }
}
