/* Base styles */
m-alert {
  --color: var(--m-color-gray-7);
  --bg-color: var(--m-color-gray-2);
  display: flex;
  align-items: center;
  padding: var(--m-space-5);
  color: var(--color);
  background-color: var(--bg-color);
  border-radius: var(--m-border-radius-3);
  min-height: 60px;

  /* Sibling alerts */
  & + & { margin-top: var(--m-space-2) }

  /* Icon */
  &[icon]::before {
    content: attr(icon);
    font-family: m-icons;
    font-size: var(--m-font-size-lg);
    line-height: 1;
    margin-right: var(--m-space-3);
  }

  /* Close button */
  & button[slot=close] {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-grid;
    place-content: center;
    margin-left: auto;
    font-size: var(--m-font-size-default);
    line-height: 1;
    border-radius: var(--m-border-radius-full);
    padding: var(--m-space-2);
    width: var(--m-target-min-size);
    height: var(--m-target-min-size);

    &::before {
      content: '\2715';
    }

    &:hover {
      background-color: rgb(from var(--color) r g b / 0.1);
    }
  }

  /* Types */
  &[type=info] {
    --color: var(--m-color-blue-3);
    --bg-color: var(--m-color-blue-1);
  }

  &[type=success] {
    --color: var(--m-color-green-3);
    --bg-color: var(--m-color-green-1);
  }

  &[type=warn] {
    --color: var(--m-color-orange-3);
    --bg-color: var(--m-color-orange-1);
  }

  &[type=error] {
    --color: var(--m-color-red-3);
    --bg-color: var(--m-color-red-1);
  }
}
