m-alert + m-alert {margin-top: var(--m-space-sm)}

/* Alert status */
m-alert[type=info] {background-color: var(--m-color-blue-1)}
m-alert[type=info] > m-icon {
  color: var(--m-color-blue-3);
}

m-alert[type=success] {background-color: var(--m-color-green-1)}
m-alert[type=success] > m-icon {
  color: var(--m-color-green-3);
}

m-alert[type=warn] {background-color: var(--m-color-orange-1)}
m-alert[type=warn] > m-icon {
  color: var(--m-color-orange-3);
}

m-alert[type=error] {background-color: var(--m-color-red-1)}
m-alert[type=error] > m-icon {
  color: var(--m-color-red-3);
}

/* Dark theme */
@media screen and (prefers-color-scheme: dark) {
  m-alert { color: var(--m-color-gray-8)}
  m-alert[type=info] {background-color: var(--m-color-blue-2)}
  m-alert[type=success] {background-color: var(--m-color-green-2)}
  m-alert[type=warn] {background-color: var(--m-color-orange-2)}
  m-alert[type=error] {background-color: var(--m-color-red-2)}
}
