@import "custom-props.css";

m-alert + m-alert {margin-top: var(--space-sm)}
m-alert[type=info] {background-color: var(--color-blue-light)}
m-alert[type=success] {background-color: var(--color-green-light)}
m-alert[type=warn] {background-color: var(--color-orange-light)}
m-alert[type=error] {background-color: var(--color-red-light)}

m-alert[type=info] > m-icon,
.alert-info {
  color: var(--color-blue-dark);
}
m-alert[type=success] > m-icon,
.alert-success {
  color: var(--color-green-dark);
}
m-alert[type=warn] > m-icon,
.alert-warn {
  color: var(--color-orange-dark);
}
m-alert[type=error] > m-icon,
.alert-error {
  color: var(--color-red-dark);
}
