m-autocomplete {display: block}

m-autocomplete [ref=matches] ul {
  background-color: white;
  min-width: 200px;
  transform: translateY(var(--m-space-xs));
  border: 1px solid var(--m-color-gray-4);
  border-radius: var(--m-border-radius-sm);
}

m-autocomplete [ref=matches] li:hover {
  background-color: var(--m-color-offwhite);
}
