/* Base styles */
m-autocomplete {display: block}

m-autocomplete > div {
  z-index: 1;
  overflow: hidden;
  min-width: 200px;
}

/* Matches */
m-autocomplete > div > ul li:hover {
  background-color: var(--m-color-gray-1);
}

/* When paired with label */
fieldset label + m-autocomplete { margin-top: var(--m-space-xs) }
