m-autocomplete {display: block}

m-autocomplete > div {
  z-index: 1;
  overflow: hidden;
  min-width: 200px;
}

m-autocomplete > div > ul li:hover {
  background-color: var(--m-color-offwhite);
}

fieldset label + m-autocomplete { margin-top: var(--m-space-xs) }
