@import "custom-props.css";

m-badge {
  display: none;
  min-width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  color: white;
  background-color: var(--color-blue-dark);
  border-radius: 0.625rem;
  font-weight: 600;
  line-height: 1.25rem;
}

/* Use count attr for the Badge's content */
m-badge[count]:before {
  content: attr(count);
  padding: 0 var(--space-xs);
}

/* Show the Badge only when it has a count attr and count is non-empty or non-zero */
m-badge[count]:not([count=""]):not([count="0"]) {
  display: inline-block;
}