m-box, m-well {
  display: block;
  border-radius: var(--m-border-radius-md);
  padding: var(--m-space-md);
  background-color: white;
  border: 1px solid var(--m-color-gray-1);
}

/*
  The ord attr is short for "ordinal" as in "ordinal number word".
  Ordinal number words are the 10+ words used for describing the
  precedence or importance of an item in an ordered list.
*/
m-box[ord=secondary] {
  border: none;
  background-color: var(--m-color-secondary-bg);
  box-shadow: 0px 1px 2px var(--m-color-gray-3) inset;
}

m-box > header {
  border-top-left-radius: var(--m-border-radius-md);
  border-top-right-radius: var(--m-border-radius-md);
}

m-box + m-box {margin-top: var(--m-space-md) }

@media only screen and (max-width: 600px) {
  m-box { padding: var(--m-space-sm) }
}