m-breadcrumb, m-breadcrumb > nav {
  display: flex;
}

m-breadcrumb > nav > a:not(:first-child)::before,
m-breadcrumb > nav > m-crumb:not(:first-child)::before,
m-breadcrumb > nav > span:not(:first-child)::before {
  content: '/';
  display: inline-block; /* Needed to prevent this element from getting underlined */
  margin: 0 var(--m-space-sm);
  color: var(--m-color-gray-4);
}
