m-card {
  display: block;
  overflow: hidden;
  border-radius: var(--m-border-radius-2);
  padding: var(--m-space-5);
  background-color: white;
  border: 1px solid var(--m-color-border);

  /*
    The ord attr is short for "ordinal" as in "ordinal number word".
    Ordinal number words are the 10+ words used for describing the
    precedence or importance of an item in an ordered list.
  */
  &[ord=secondary] {
    border: none;
    background-color: var(--m-color-gray-1);
    box-shadow: var(--m-shadow-1);
  }

  /* Sibling cards */
  & + & { margin-top: var(--m-space-3) }
}

@media only screen and (max-width: 600px) {
  m-card { padding: var(--m-space-3) }
}