/* Base container styles */
m-container {
  display: block;
  max-width: var(--m-max-content-width);
  margin: auto;
  padding: var(--m-space-5) var(--m-space-7);

  /* Sizes */
  &[maxwidth=md] { max-width: 924px } /* Plus its margin = 960 which is a very comfortable and common size */
  &[maxwidth=sm] { max-width: 375px }
  &[maxwidth=none] { max-width: none }
}

@media only screen and (max-width: 600px) {
  m-container { padding: var(--m-space-3) }
}