@import "custom-props.css";

m-container {
  display: block;
  max-width: var(--max-content-width);
  margin: auto;
  padding: var(--space-md);
}

m-container[maxwidth=md] {max-width: var(--breakpoint-md)}
m-container[maxwidth=sm] {max-width: 375px}
m-container[maxwidth=none] {max-width: none}

@media only screen and (max-width: 600px) {
  m-container { padding: var(--space-sm) }
}