m-dialog {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
m-dialog[open] {display: flex}
m-dialog > div {
  pointer-events: auto;
  background-color: #F5F3F7;
  box-shadow: 0px 16px 18px -3px #858585;
  margin-top: 126px;
  min-height: 100px;
  max-height: 75%;
  max-width: 75%;
}
m-dialog > div > button[type=remove] { line-height: 0.5 }
m-dialog > div > div {
  height: 100%;
  overflow: auto;
}
