m-dialog {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
m-dialog[open] {display: flex}
m-dialog > div {
  pointer-events: auto;
  background-color: #F5F3F7;
  box-shadow: 0px 16px 18px -3px #858585;
  height: 60%;
  max-width: 75%;
}
m-dialog > div > button {border: none; line-height: 0.5; background: none;}
m-dialog > div > div {
  height: 100%;
  overflow: auto;
}
