/* Inspired by Flexbox Grid https://github.com/kristoferjoseph/flexboxgrid */
m-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--m-space-md);
}

m-row + m-row {
  margin-top: var(--m-space-md);
}

/* Centers columns inside the row */
m-row[center] { justify-content: center }

m-col,
m-col[indent] {
  box-sizing: border-box;
  flex: 0 0 auto;
}

m-row[center] m-col:not([span]) {
  flex-grow: inherit;
  flex-basis: inherit;
}

m-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/* span sets the width of the column */
m-col[span~="1"] {
  max-width: 8.33333333%;
}

m-col[span~="2"] {
  max-width: 16.66666667%;
}

m-col[span~="3"] {
  max-width: 25%;
}

m-col[span~="4"] {
  max-width: 33.33333333%;
}

m-col[span~="5"] {
  max-width: 41.66666667%;
}

m-col[span~="6"] {
  max-width: 50%;
}

m-col[span~="7"] {
  max-width: 58.33333333%;
}

m-col[span~="8"] {
  max-width: 66.66666667%;
}

m-col[span~="9"] {
  max-width: 75%;
}

m-col[span~="10"] {
  max-width: 83.33333333%;
}

m-col[span~="11"] {
  max-width: 91.66666667%;
}

m-col[span~="12"] {
  max-width: 100%;
}

/* indent is used to push columns inward */
m-col[indent="1"] {
  margin-left: 8.33333333%;
}

m-col[indent="2"] {
  margin-left: 16.66666667%;
}

m-col[indent="3"] {
  margin-left: 25%;
}

m-col[indent="4"] {
  margin-left: 33.33333333%;
}

m-col[indent="5"] {
  margin-left: 41.66666667%;
}

m-col[indent="6"] {
  margin-left: 50%;
}

m-col[indent="7"] {
  margin-left: 58.33333333%;
}

m-col[indent="8"] {
  margin-left: 66.66666667%;
}

m-col[indent="9"] {
  margin-left: 75%;
}

m-col[indent="10"] {
  margin-left: 83.33333333%;
}

m-col[indent="11"] {
  margin-left: 91.66666667%;
}

m-col[indent="12"] {
  margin-left: 100%;
}

/* Order is used to reorder columns at specific breakpoints */
@media only screen and (max-width: 768px) {
  m-col[span~=md-1] {
    max-width: 8.33333333%;
  }

  m-col[span~=md-2] {
    max-width: 16.66666667%;
  }

  m-col[span~=md-3] {
    max-width: 25%;
  }

  m-col[span~=md-4] {
    max-width: 33.33333333%;
  }

  m-col[span~=md-5] {
    max-width: 41.66666667%;
  }

  m-col[span~=md-6] {
    max-width: 50%;
  }

  m-col[span~=md-7] {
    max-width: 58.33333333%;
  }

  m-col[span~=md-8] {
    max-width: 66.66666667%;
  }

  m-col[span~=md-9] {
    max-width: 75%;
  }

  m-col[span~=md-10] {
    max-width: 83.33333333%;
  }

  m-col[span~=md-11] {
    max-width: 91.66666667%;
  }

  m-col[span~=md-12] {
    max-width: 100%;
  }
}

/* Must come after medium because cascading is used here */
@media only screen and (max-width: 576px) {
  m-col[span~=sm-1] {
    max-width: 8.33333333%;
  }

  m-col[span~=sm-2] {
    max-width: 16.66666667%;
  }

  m-col[span~=sm-3] {
    max-width: 25%;
  }

  m-col[span~=sm-4] {
    max-width: 33.33333333%;
  }

  m-col[span~=sm-5] {
    max-width: 41.66666667%;
  }

  m-col[span~=sm-6] {
    max-width: 50%;
  }

  m-col[span~=sm-7] {
    max-width: 58.33333333%;
  }

  m-col[span~=sm-8] {
    max-width: 66.66666667%;
  }

  m-col[span~=sm-9] {
    max-width: 75%;
  }

  m-col[span~=sm-10] {
    max-width: 83.33333333%;
  }

  m-col[span~=sm-11] {
    max-width: 91.66666667%;
  }

  m-col[span~=sm-12] {
    max-width: 100%;
  }
}
