/* Icon font */
@font-face {
  font-family: 'm-icons';
  font-style: normal;
  font-weight: 400;
  /*
    This Google Fonts API request:
    https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1
    Returned this font URL:
    https://fonts.gstatic.com/s/materialsymbolsoutlined/v134/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzBwG-RpA6RzaxHMPdY40KH8nGzv3fzfVJU22ZZLsYEpzC_1ver5Y0J1Llf.woff2
    That font file was downloaded and added to Mdash as src/m-icons.woff2, which gets published to npm/unpkg.
  */
  src: url(./m-icons.woff2) format('woff2');
}

/* Icon base styles */
m-icon { display: inline-flex }

m-icon:before {
  font-family: 'm-icons';
  content: attr(name);
  -webkit-font-smoothing: antialiased;
}

/* Fill boolean */
m-icon[fill]:before { font-variation-settings: 'FILL' 1 }

/* Weights TBD */
/*m-icon[weight="100"] { font-variation-settings: 'wght' 100 }*/

/* Grades TBD */
/*m-icon[grade="-25"] { font-variation-settings: 'GRAD' -25 }*/

/* Optical sizes TBD */
/*m-icon[opsz="48"] { font-variation-settings: 'opsz' 48 }*/

/* Deprecated names mapped to new Material Symbols names */
m-icon[name=user]:before { content: "person" }
m-icon[name=people]:before { content: "group" }
m-icon[name=emotsmile]:before { content: "sentiment_satisfied" }
m-icon[name=phone]:before { content: "call" }
m-icon[name=location-pin]:before { content: "location_on" }
m-icon[name=options-vertical]:before { content: "more_vert" }
m-icon[name=options]:before { content: "more_horiz" }
m-icon[name=arrow-down]:before { content: "expand_more" }
m-icon[name=arrow-left]:before { content: "chevron_left" }
m-icon[name=arrow-right]:before { content: "chevron_right" }
m-icon[name=arrow-up]:before { content: "expand_less" }
m-icon[name=arrow-up-circle]:before { content: "arrow_circle_up" }
m-icon[name=arrow-left-circle]:before { content: "arrow_circle_left" }
m-icon[name=arrow-right-circle]:before { content: "arrow_circle_right" }
m-icon[name=arrow-down-circle]:before { content: "arrow_circle_down" }
m-icon[name=check]:before { content: "check_circle" }
m-icon[name=clock]:before { content: "schedule" }
m-icon[name=plus]:before { content: "add_circle" }
m-icon[name=minus]:before { content: "do_not_disturb_on" }
m-icon[name=organization]:before { content: "network_node" }
m-icon[name=screen-smartphone]:before { content: "smartphone" }
m-icon[name=screen-tablet]:before { content: "tablet" }
m-icon[name=screen-desktop]:before { content: "desktop_windows" }
m-icon[name=energy]:before { content: "bolt" }
m-icon[name=cursor-move]:before { content: "drag_pan" }
m-icon[name=speedometer]:before { content: "speed" }
m-icon[name=shield]:before { content: "gpp_bad" }
m-icon[name=hourglass]:before { content: "hourglass_empty" }
m-icon[name=graduation]:before { content: "school" }
m-icon[name=game-controller]:before { content: "stadia_controller" }
m-icon[name=fire]:before { content: "mode_heat" }
m-icon[name=eyeglass]:before { content: "eyeglasses" }
m-icon[name=bell]:before { content: "notifications" }
m-icon[name=badge]:before { content: "workspace_premium" }
m-icon[name=printer]:before { content: "print" }
m-icon[name=present]:before { content: "redeem" }
m-icon[name=pin]:before { content: "push_pin" }
m-icon[name=picture]:before { content: "photo" }
m-icon[name=handbag]:before { content: "shopping_bag" }
m-icon[name=globe]:before { content: "language" }
m-icon[name=drop]:before { content: "water_drop" }
m-icon[name=drawer]:before { content: "bottom_drawer" }
m-icon[name=docs]:before { content: "draft" }
m-icon[name=doc]:before { content: "draft" }
m-icon[name=cup]:before { content: "coffee" }
m-icon[name=calculator]:before { content: "calculate" }
m-icon[name=bubbles]:before { content: "forum" }
m-icon[name=briefcase]:before { content: "work" }
m-icon[name=book-open]:before { content: "menu_book" }
m-icon[name=basket-loaded]:before { content: "shopping_cart_checkout" }
m-icon[name=basket]:before { content: "shopping_cart" }
m-icon[name=bag]:before { content: "shopping_bag" }
m-icon[name=action-undo]:before { content: "undo" }
m-icon[name=action-redo]:before { content: "redo" }
m-icon[name=wrench]:before { content: "build" }
m-icon[name=trash]:before { content: "delete" }
m-icon[name=tag]:before { content: "sell" }
m-icon[name=frame]:before { content: "screenshot_frame" }
m-icon[name=size-fullscreen]:before { content: "zoom_out_map" }
m-icon[name=size-actual]:before { content: "zoom_in_map" }
m-icon[name=share-alt]:before { content: "share_off" }
m-icon[name=question]:before { content: "help" }
m-icon[name=pie-chart]:before { content: "pie_chart" }
m-icon[name=pencil]:before { content: "edit" }
m-icon[name=loop]:before { content: "laps" }
m-icon[name=grid]:before { content: "grid_view" }
m-icon[name=graph]:before { content: "timeline" }
m-icon[name=microphone]:before { content: "mic" }
m-icon[name=music-tone-alt]:before { content: "music_note" }
m-icon[name=earphones-alt]:before { content: "headset_mic" }
m-icon[name=like]:before { content: "thumb_up" }
m-icon[name=dislike]:before { content: "thumb_down" }
m-icon[name=calendar]:before { content: "calendar_month" }
m-icon[name=bulb]:before { content: "lightbulb" }
m-icon[name=chart]:before { content: "bar_chart" }
m-icon[name=ban]:before { content: "block" }
m-icon[name=bubble]:before { content: "chat_bubble" }
m-icon[name=camrecorder]:before { content: "videocam" }
m-icon[name=camera]:before { content: "photo_camera" }
m-icon[name=cloud-download]:before { content: "cloud_download" }
m-icon[name=cloud-upload]:before { content: "cloud_upload" }
m-icon[name=envelope]:before { content: "mail" }
m-icon[name=eye]:before { content: "visibility" }
m-icon[name=heart]:before { content: "favorite" }
m-icon[name=lock-open]:before { content: "lock_open" }
m-icon[name=magnifier]:before { content: "search" }
m-icon[name=magnifier-add]:before { content: "zoom_in" }
m-icon[name=magnifier-remove]:before { content: "zoom_out" }
m-icon[name=paper-clip]:before { content: "attach_file" }
m-icon[name=paper-plane]:before { content: "send" }
m-icon[name=power]:before { content: "power_settings_new" }
m-icon[name=refresh]:before { content: "autorenew" }
m-icon[name=reload]:before { content: "refresh" }
m-icon[name=credit-card]:before { content: "credit_card" }

/* No viable alternatives available */
/*m-icon[name=paypal]:before { content: "name" }*/
/*m-icon[name=twitter]:before { content: "name" }*/
/*m-icon[name=github]:before { content: "name" }*/
/*m-icon[name=social-youtube]:before { content: "name" }*/
/*m-icon[name=magic-wand]:before { content: "name" }*/
