@font-face {
  font-family: 'm-icons';
  src: url('./Simple-Line-Icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

m-icon {
  font-family: 'm-icons';
  speak: none;
  font-style: normal;
  font-weight: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

m-icon:before {
  display: inline-block;
}

a:hover m-icon:before {
  text-decoration: none !important;
}

m-icon[name=user]:before { content: "\e005"; }
m-icon[name=people]:before { content: "\e001"; }
/*m-icon[name=user-female]:before { content: "\e000"; }*/
/*m-icon[name=user-follow]:before { content: "\e002"; }*/
/*m-icon[name=user-following]:before { content: "\e003"; }*/
/*m-icon[name=user-unfollow]:before { content: "\e004"; }*/
m-icon[name=login]:before { content: "\e066"; }
m-icon[name=logout]:before { content: "\e065"; }
m-icon[name=emotsmile]:before { content: "\e021"; }
m-icon[name=phone]:before { content: "\e600"; }
/*m-icon[name=call-end]:before { content: "\e048"; }*/
/*m-icon[name=call-in]:before { content: "\e047"; }*/
/*m-icon[name=call-out]:before { content: "\e046"; }*/
m-icon[name=map]:before { content: "\e033"; }
m-icon[name=location-pin]:before { content: "\e096"; }
/*m-icon[name=direction]:before { content: "\e042"; }*/
/*m-icon[name=directions]:before { content: "\e041"; }*/
/*m-icon[name=compass]:before { content: "\e045"; }*/
m-icon[name=layers]:before { content: "\e034"; }
m-icon[name=menu]:before { content: "\e601"; }
m-icon[name=list]:before { content: "\e067"; }
m-icon[name=options-vertical]:before { content: "\e602"; }
m-icon[name=options]:before { content: "\e603"; }
m-icon[name=arrow-down]:before { content: "\e604"; }
m-icon[name=arrow-left]:before { content: "\e605"; }
m-icon[name=arrow-right]:before { content: "\e606"; }
m-icon[name=arrow-up]:before { content: "\e607"; }
m-icon[name=arrow-up-circle]:before { content: "\e078"; }
m-icon[name=arrow-left-circle]:before { content: "\e07a"; }
m-icon[name=arrow-right-circle]:before { content: "\e079"; }
m-icon[name=arrow-down-circle]:before { content: "\e07b"; }
m-icon[name=check]:before { content: "\e080"; }
m-icon[name=clock]:before { content: "\e081"; }
m-icon[name=plus]:before { content: "\e095"; }
m-icon[name=minus]:before { content: "\e615"; }
m-icon[name=close]:before { content: "\e082"; }
/*m-icon[name=event]:before { content: "\e619"; }*/
m-icon[name=exclamation]:before { content: "\e617"; }
m-icon[name=organization]:before { content: "\e616"; }
m-icon[name=trophy]:before { content: "\e006"; }
m-icon[name=screen-smartphone]:before { content: "\e010"; }
m-icon[name=screen-tablet]:before { content: "\e00f"; }
m-icon[name=screen-desktop]:before { content: "\e011"; }
/*m-icon[name=plane]:before { content: "\e012"; }*/
/*m-icon[name=notebook]:before { content: "\e013"; }*/
/*m-icon[name=mustache]:before { content: "\e014"; }*/
/*m-icon[name=mouse]:before { content: "\e015"; }*/
/*m-icon[name=magnet]:before { content: "\e016"; }*/
m-icon[name=energy]:before { content: "\e020"; }
/*m-icon[name=disc]:before { content: "\e022"; }*/
/*m-icon[name=cursor]:before { content: "\e06e"; }*/
m-icon[name=cursor-move]:before { content: "\e023"; }
m-icon[name=crop]:before { content: "\e024"; }
/*m-icon[name=chemistry]:before { content: "\e026"; }*/
m-icon[name=speedometer]:before { content: "\e007"; }
m-icon[name=shield]:before { content: "\e00e"; }
m-icon[name=magic-wand]:before { content: "\e017"; }
m-icon[name=hourglass]:before { content: "\e018"; }
m-icon[name=graduation]:before { content: "\e019"; }
/*m-icon[name=ghost]:before { content: "\e01a"; }*/
m-icon[name=game-controller]:before { content: "\e01b"; }
m-icon[name=fire]:before { content: "\e01c"; }
m-icon[name=eyeglass]:before { content: "\e01d"; }
/*m-icon[name=envelope-open]:before { content: "\e01e"; }*/
/*m-icon[name=envelope-letter]:before { content: "\e01f"; }*/
m-icon[name=bell]:before { content: "\e027"; }
m-icon[name=badge]:before { content: "\e028"; }
m-icon[name=anchor]:before { content: "\e029"; }
m-icon[name=wallet]:before { content: "\e02a"; }
/*m-icon[name=vector]:before { content: "\e02b"; }*/
/*m-icon[name=speech]:before { content: "\e02c"; }*/
/*m-icon[name=puzzle]:before { content: "\e02d"; }*/
m-icon[name=printer]:before { content: "\e02e"; }
m-icon[name=present]:before { content: "\e02f"; }
/*m-icon[name=playlist]:before { content: "\e030"; }*/
m-icon[name=pin]:before { content: "\e031"; }
m-icon[name=picture]:before { content: "\e032"; }
m-icon[name=handbag]:before { content: "\e035"; }
/*m-icon[name=globe-alt]:before { content: "\e036"; }*/
m-icon[name=globe]:before { content: "\e037"; }
/*m-icon[name=folder-alt]:before { content: "\e039"; }*/
m-icon[name=folder]:before { content: "\e089"; }
/*m-icon[name=film]:before { content: "\e03a"; }*/
/*m-icon[name=feed]:before { content: "\e03b"; }*/
m-icon[name=drop]:before { content: "\e03e"; }
m-icon[name=drawer]:before { content: "\e03f"; }
m-icon[name=docs]:before { content: "\e040"; }
m-icon[name=doc]:before { content: "\e085"; }
m-icon[name=diamond]:before { content: "\e043"; }
m-icon[name=cup]:before { content: "\e044"; }
m-icon[name=calculator]:before { content: "\e049"; }
m-icon[name=bubbles]:before { content: "\e04a"; }
m-icon[name=briefcase]:before { content: "\e04b"; }
m-icon[name=book-open]:before { content: "\e04c"; }
m-icon[name=basket-loaded]:before { content: "\e04d"; }
m-icon[name=basket]:before { content: "\e04e"; }
m-icon[name=bag]:before { content: "\e04f"; }
m-icon[name=action-undo]:before { content: "\e050"; }
m-icon[name=action-redo]:before { content: "\e051"; }
m-icon[name=wrench]:before { content: "\e052"; }
m-icon[name=umbrella]:before { content: "\e053"; }
m-icon[name=trash]:before { content: "\e054"; }
m-icon[name=tag]:before { content: "\e055"; }
m-icon[name=support]:before { content: "\e056"; }
m-icon[name=frame]:before { content: "\e038"; }
m-icon[name=size-fullscreen]:before { content: "\e057"; }
m-icon[name=size-actual]:before { content: "\e058"; }
m-icon[name=shuffle]:before { content: "\e059"; }
m-icon[name=share-alt]:before { content: "\e05a"; }
m-icon[name=share]:before { content: "\e05b"; }
/*m-icon[name=rocket]:before { content: "\e05c"; }*/
m-icon[name=question]:before { content: "\e05d"; }
m-icon[name=pie-chart]:before { content: "\e05e"; }
m-icon[name=pencil]:before { content: "\e05f"; }
/*m-icon[name=note]:before { content: "\e060"; }*/
m-icon[name=loop]:before { content: "\e064"; }
m-icon[name=home]:before { content: "\e069"; }
m-icon[name=grid]:before { content: "\e06a"; }
m-icon[name=graph]:before { content: "\e06b"; }
m-icon[name=microphone]:before { content: "\e063"; }
m-icon[name=music-tone-alt]:before { content: "\e061"; }
/*m-icon[name=music-tone]:before { content: "\e062"; }*/
m-icon[name=earphones-alt]:before { content: "\e03c"; }
/*m-icon[name=earphones]:before { content: "\e03d"; }*/
m-icon[name=equalizer]:before { content: "\e06c"; }
m-icon[name=like]:before { content: "\e068"; }
m-icon[name=dislike]:before { content: "\e06d"; }
/*m-icon[name=control-start]:before { content: "\e06f"; }*/
/*m-icon[name=control-rewind]:before { content: "\e070"; }*/
/*m-icon[name=control-play]:before { content: "\e071"; }*/
/*m-icon[name=control-pause]:before { content: "\e072"; }*/
/*m-icon[name=control-forward]:before { content: "\e073"; }*/
/*m-icon[name=control-end]:before { content: "\e074"; }*/
/*m-icon[name=volume-1]:before { content: "\e09f"; }*/
/*m-icon[name=volume-2]:before { content: "\e0a0"; }*/
/*m-icon[name=volume-off]:before { content: "\e0a1"; }*/
m-icon[name=calendar]:before { content: "\e075"; }
m-icon[name=bulb]:before { content: "\e076"; }
m-icon[name=chart]:before { content: "\e077"; }
m-icon[name=ban]:before { content: "\e07c"; }
m-icon[name=bubble]:before { content: "\e07d"; }
m-icon[name=camrecorder]:before { content: "\e07e"; }
m-icon[name=camera]:before { content: "\e07f"; }
m-icon[name=cloud-download]:before { content: "\e083"; }
m-icon[name=cloud-upload]:before { content: "\e084"; }
m-icon[name=envelope]:before { content: "\e086"; }
m-icon[name=eye]:before { content: "\e087"; }
m-icon[name=flag]:before { content: "\e088"; }
m-icon[name=heart]:before { content: "\e08a"; }
m-icon[name=info]:before { content: "\e08b"; }
m-icon[name=key]:before { content: "\e08c"; }
m-icon[name=link]:before { content: "\e08d"; }
m-icon[name=lock]:before { content: "\e08e"; }
m-icon[name=lock-open]:before { content: "\e08f"; }
m-icon[name=magnifier]:before { content: "\e090"; }
m-icon[name=magnifier-add]:before { content: "\e091"; }
m-icon[name=magnifier-remove]:before { content: "\e092"; }
m-icon[name=paper-clip]:before { content: "\e093"; }
m-icon[name=paper-plane]:before { content: "\e094"; }
m-icon[name=power]:before { content: "\e097"; }
m-icon[name=refresh]:before { content: "\e098"; transform: matrix(-1, 0, 0, 1, 0, 0); }
m-icon[name=reload]:before { content: "\e099"; }
m-icon[name=settings]:before { content: "\e09a"; }
m-icon[name=star]:before { content: "\e09b"; }
/*m-icon[name=symbol-female]:before { content: "\e09c"; }*/
/*m-icon[name=symbol-male]:before { content: "\e09d"; }*/
m-icon[name=target]:before { content: "\e09e"; }
m-icon[name=credit-card]:before { content: "\e025"; }
m-icon[name=paypal]:before { content: "\e608"; }
/*m-icon[name=social-tumblr]:before { content: "\e00a"; }*/
m-icon[name=twitter]:before { content: "\e009"; }
/*m-icon[name=social-facebook]:before { content: "\e00b"; }*/
/*m-icon[name=social-instagram]:before { content: "\e609"; }*/
/*m-icon[name=social-linkedin]:before { content: "\e60a"; }*/
/*m-icon[name=social-pinterest]:before { content: "\e60b"; }*/
m-icon[name=github]:before { content: "\e60c"; }
/*m-icon[name=social-google]:before { content: "\e60d"; }*/
/*m-icon[name=social-reddit]:before { content: "\e60e"; }*/
/*m-icon[name=social-skype]:before { content: "\e60f"; }*/
/*m-icon[name=social-dribbble]:before { content: "\e00d"; }*/
/*m-icon[name=social-behance]:before { content: "\e610"; }*/
/*m-icon[name=social-foursqare]:before { content: "\e611"; }*/
/*m-icon[name=social-soundcloud]:before { content: "\e612"; }*/
/*m-icon[name=social-spotify]:before { content: "\e613"; }*/
/*m-icon[name=social-stumbleupon]:before { content: "\e614"; }*/
m-icon[name=social-youtube]:before { content: "\e008"; }
/*m-icon[name=social-dropbox]:before { content: "\e00c"; }*/
/*m-icon[name=social-vkontakte]:before { content: "\e618"; }*/
/*m-icon[name=social-steam]:before { content: "\e620"; }*/
