m-loader:before {
  display: inline-block;
  font-family: 'm-icons';
  content: 'autorenew';
  line-height: 1;
  margin-right: 3px;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes m-loader {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

m-loader[loading]:before {
  animation: 1.2s linear infinite m-loader;
}
