m-menu {display: inline-block}
m-menu > [slot=items] {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid;
  padding: 12px;
  min-width: 78px;
}
m-menu > [slot=items] > a {display: block}
m-menu[open] > [slot=items] {display: block}
m-menu > [slot="trigger"] {cursor: pointer}
