m-menu {
  display: inline-block;
  position: relative;
}

m-menu > [slot=items] {
  display: none;
  position: absolute;
  transform: translateY(var(--space-xs));
  background-color: white;
  border: 1px solid var(--color-gray-4);
  border-radius: var(--m-border-radius-sm);
  padding: var(--space-md);
  min-width: 78px;
  z-index: 3000;
}
m-menu > [slot=items] > a {
  margin-bottom: var(--space-sm)
}
m-menu > [slot=items] > a:last-of-type {
  margin-bottom: 0
}
m-menu > [slot=items] > a,
m-menu[open] > [slot=items] {
  display: block;
}

m-menu > [slot="trigger"] {cursor: pointer}