/* Base tabs styles */
m-tabs {
  display: flex;
  align-items: flex-start;

  /* Scrolling tabs */
  &[scrollable] {
    overflow-x: scroll;
    scrollbar-width: none

    &::-webkit-scrollbar { display: none }
  }

  /* Base tab styles */
  & > :is(a, button) {
    all: unset;
    display: inline-flex;
    color: var(--m-color-gray-7) !important;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding: var(--m-space-xs) var(--m-space-lg);
    cursor: pointer;

    &:focus-visible { outline: 2px solid var(--m-color-focus) }

    /* Hover state */
    &:not([disabled]):not([aria-selected=true]):hover {
      border-bottom: 2px solid var(--m-color-gray-3);
      text-decoration: none;
    }

    /* Selected state */
    &[aria-selected=true] { border-bottom: 2px solid var(--m-color-primary-action) }

    /* Disabled state */
    &[disabled] { color: var(--m-color-disabled-fg); cursor: default }
  }
}
