/* Base tag styles */
m-tag {
  display: inline-flex;
  align-items: center;
  color: var(--color, currentColor);
  border: 1px solid var(--color, currentColor);
  background-color: var(--color, lightgrey);
  padding: 3px var(--m-space-xs);
  font-size: var(--m-font-size-min);
}

m-tag + m-tag { margin-left: 3px }

/* Removable tag */
m-tag button[type=remove] {
  padding-left: var(--m-space-xs);
  font-size: var(--m-font-size-default);
  width: auto;
}