m-tabs {display: flex}

m-tab {
  font-weight: bold;
  padding: var(--space-xs) var(--space-lg);
}

m-tab:not([disabled]) {
  cursor: pointer;
}

m-tab:not([disabled]):not([selected]):hover {
  border-bottom: 2px solid var(--color-gray-3);
}

m-tab a:hover {
  text-decoration: none;
}

m-tab[selected] {border-bottom: 2px solid var(--color-primary-action)}
m-tab[disabled] {color: var(--color-disabled-fg); cursor: default}