@import "custom-props.css";

body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  /*background-color: var(--color-off-white);*/
  color: var(--color-darkest);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

code {
  border-radius: 2px;
  background-color: var(--color-offwhite);
  color: var(--color-red-med);
  padding: 1px 3px;
}

