/* Horizontal rule */
hr {
  border: none;
  height: 1px;
  background-color: var(--m-color-gray-3);
}

/* Vertical bar/separator */
m-vbar {
  display: inline-block;
  color: var(--m-color-gray-3);
  margin: auto 12px;
  font-weight: 400;
}
m-vbar:before { content: '|' }
