/* Base table styles */
table {
  width: 100%;
  border-collapse: collapse;

  /* Caption */
  & caption {
    &:not([side=end]) {
      margin-bottom: var(--m-space-2);
    }
    &[side=end] {
      margin-top: var(--m-space-2);
      caption-side: bottom;
    }
  }

  /* Table header */
  & thead {
    & > tr { border-top: 2px solid var(--m-color-gray-3); }

    & th {
      text-align: left;

      /* Sortable columns */
      &[aria-sort] button {
        all: unset;
        display: inline-flex;
        cursor: pointer;
        align-items: center;

        &::after {
          font-size: 0.8em;
          padding-left: var(--m-space-1);
        }
      }

      &[aria-sort=ascending] button:after { content: '↑' }
      &[aria-sort=descending] button:after { content: '↓' }
    }
  }

  & th, & td {
    padding: var(--m-space-2);
    vertical-align: top;
  }

  & tbody > tr {
    border-bottom: 1px solid var(--m-color-gray-3);

    &:first-of-type {
      border-top: 1px solid var(--m-color-gray-3);
    }
  }

  /* Table layout */
  &[layout=fixed] {
    table-layout: fixed;
  }

  /* Striped rows */
  &[striped] > tbody tr:nth-of-type(odd) {
    background-color: var(--m-color-gray-2);
  }
}



