/* Spacing */
.pad-all-none { padding: 0 }
.pad-all-xs { padding: var(--m-space-xs) }
.pad-all-sm { padding: var(--m-space-sm) }
.pad-all-md { padding: var(--m-space-md) }
.pad-all-lg { padding: var(--m-space-lg) }
.pad-all-xl { padding: var(--m-space-xl) }

.pad-t-none { padding-top: 0 }
.pad-t-xs { padding-top: var(--m-space-xs) }
.pad-t-sm { padding-top: var(--m-space-sm) }
.pad-t-md { padding-top: var(--m-space-md) }
.pad-t-lg { padding-top: var(--m-space-lg) }
.pad-t-xl { padding-top: var(--m-space-xl) }

.pad-r-none { padding-right: 0 }
.pad-r-xs { padding-right: var(--m-space-xs) }
.pad-r-sm { padding-right: var(--m-space-sm) }
.pad-r-md { padding-right: var(--m-space-md) }
.pad-r-lg { padding-right: var(--m-space-lg) }
.pad-r-xl { padding-right: var(--m-space-xl) }

.pad-b-none { padding-bottom: 0 }
.pad-b-xs { padding-bottom: var(--m-space-xs) }
.pad-b-sm { padding-bottom: var(--m-space-sm) }
.pad-b-md { padding-bottom: var(--m-space-md) }
.pad-b-lg { padding-bottom: var(--m-space-lg) }
.pad-b-xl { padding-bottom: var(--m-space-xl) }

.pad-l-none { padding-left: 0 }
.pad-l-xs { padding-left: var(--m-space-xs) }
.pad-l-sm { padding-left: var(--m-space-sm) }
.pad-l-md { padding-left: var(--m-space-md) }
.pad-l-lg { padding-left: var(--m-space-lg) }
.pad-l-xl { padding-left: var(--m-space-xl) }

.mar-all-none { margin: 0 }
.mar-all-xs { margin: var(--m-space-xs) }
.mar-all-sm { margin: var(--m-space-sm) }
.mar-all-md { margin: var(--m-space-md) }
.mar-all-lg { margin: var(--m-space-lg) }
.mar-all-xl { margin: var(--m-space-xl) }

.mar-t-none { margin-top: 0 }
.mar-t-xs { margin-top: var(--m-space-xs) }
.mar-t-sm { margin-top: var(--m-space-sm) }
.mar-t-md { margin-top: var(--m-space-md) }
.mar-t-lg { margin-top: var(--m-space-lg) }
.mar-t-xl { margin-top: var(--m-space-xl) }

.mar-r-none { margin-right: 0 }
.mar-r-xs { margin-right: var(--m-space-xs) }
.mar-r-sm { margin-right: var(--m-space-sm) }
.mar-r-md { margin-right: var(--m-space-md) }
.mar-r-lg { margin-right: var(--m-space-lg) }
.mar-r-xl { margin-right: var(--m-space-xl) }

.mar-b-none { margin-bottom: 0 }
.mar-b-xs { margin-bottom: var(--m-space-xs) }
.mar-b-sm { margin-bottom: var(--m-space-sm) }
.mar-b-md { margin-bottom: var(--m-space-md) }
.mar-b-lg { margin-bottom: var(--m-space-lg) }
.mar-b-xl { margin-bottom: var(--m-space-xl) }

.mar-l-none { margin-left: 0 }
.mar-l-xs { margin-left: var(--m-space-xs) }
.mar-l-sm { margin-left: var(--m-space-sm) }
.mar-l-md { margin-left: var(--m-space-md) }
.mar-l-lg { margin-left: var(--m-space-lg) }
.mar-l-xl { margin-left: var(--m-space-xl) }

/* Font */
.fnt-bolder { font-weight: bolder }
.fnt-bold { font-weight: bold}
.fnt-normal { font-style: normal }
.fnt-light { font-weight: 300 }
.fnt-italic { font-style: italic }
.fnt-mono { font-family: monospace }

/* Text */
.txt-left { text-align: left }
.txt-right { text-align: right }
.txt-center { text-align: center }
.txt-justify { text-align: justify }
.txt-lower { text-transform: lowercase }
.txt-upper { text-transform: uppercase }
.txt-caps { text-transform: capitalize }
.txt-space { letter-spacing: 2px }
.txt-truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.txt-nowrap { white-space: nowrap }
.txt-break-all { word-break: break-all }
.txt-break-word { word-break: break-word }
.txt-xs { font-size: 13px}
.txt-sm { font-size: 16px}
.txt-md { font-size: 18px}
.txt-lg { font-size: 24px}
.txt-xl { font-size: 32px}
.txt-xxl { font-size: 100px }
.txt-white { color: #fff }
.txt-offwhite { color: var(--m-color-offwhite)}
.txt-gray-1 { color: var(--m-color-gray-1) }
.txt-gray-2 { color: var(--m-color-gray-2) }
.txt-gray-3 { color: var(--m-color-gray-3) }
.txt-gray-4 { color: var(--m-color-gray-4) }
.txt-gray-5 { color: var(--m-color-gray-5) }
.txt-gray-6 { color: var(--m-color-gray-6) }
.txt-dark { color: var(--m-color-dark) }
.txt-darker { color: var(--m-color-darker) }
.txt-darkest { color: var(--m-color-darkest) }
.txt-blue-dark { color: var(--m-color-blue-dark) }
.txt-blue-med { color: var(--m-color-blue-med) }
.txt-blue-light { color: var(--m-color-blue-light) }
.txt-red-dark { color: var(--m-color-red-dark) }
.txt-red-med { color: var(--m-color-red-med) }
.txt-red-light { color: var(--m-color-red-light) }
.txt-green-dark { color: var(--m-color-green-dark) }
.txt-green-med { color: var(--m-color-green-med) }
.txt-green-light { color: var(--m-color-green-light) }
.txt-orange-dark { color: var(--m-color-orange-dark) }
.txt-orange-med { color: var(--m-color-orange-med) }
.txt-orange-light { color: var(--m-color-orange-light) }
.txt-info { color: var(--m-color-blue-med) }
.txt-success { color: var(--m-color-green-med) }
.txt-warn { color: var(--m-color-orange-med) }
.txt-error { color: var(--m-color-red-med) }

/* Display */
.grid { display: grid }
.inline-grid { display: inline-grid }
.flex { display: flex }
.inline-flex { display: inline-flex }
.block { display: block }
.inline-block { display: inline-block }
.inline { display: inline }
.hidden { display: none }

/* Flexbox */
.flx-grow, .flex-grow { flex-grow: 1 }
.flx-wrap, .flex-wrap { flex-wrap: wrap }
.flx-col, .flex-col { flex-direction: column }
.justify-content-center { justify-content: center }
.justify-content-between { justify-content: space-between }
.justify-content-evenly { justify-content: space-evenly }
.justify-content-around { justify-content: space-around }
.justify-content-end { justify-content: flex-end }
.align-items-center { align-items: center}
.align-items-end { align-items: flex-end }
.align-self-stretch { align-self: stretch }
.align-self-center { align-self: center }
.align-self-end { align-self: flex-end }

/* Float */
.left { float: left }
.right { float: right }
.clear { clear: both }

/* Position */
.pos-absolute { position: absolute }
.pos-fixed { position: fixed }
.pos-relative { position: relative }
.pos-static { position: static }
.pos-sticky { position: sticky; top: 0 }
.pin-t {top: 0}
.pin-r {right: 0}
.pin-b {bottom: 0}
.pin-l {left: 0}

/* Borders */
.brd-all { border: 1px solid var(--m-color-border) }
.brd-all-none { border: none }
.brd-t { border-top: 1px solid var(--m-color-border) }
.brd-r { border-right: 1px solid var(--m-color-border) }
.brd-b { border-bottom: 1px solid var(--m-color-border) }
.brd-l { border-left: 1px solid var(--m-color-border) }
.brd-radius-sm { border-radius: var(--m-border-radius-sm) }
.brd-radius-md { border-radius: var(--m-border-radius-md) }
.brd-radius-full { border-radius: var(--m-border-radius-full) }
.brd-dashed { border-style: dashed }
.brd-sm { border-width: 1px }
.brd-md { border-width: 2px }

/* Backgrounds */
.bg-white { background-color: #fff }
.bg-offwhite { background-color: var(--m-color-offwhite)}
/*.bg-gray-4 {background-color: var(--color-gray-4)}*/
/*.bg-info {background-color: var(--color-info)}*/
/*.bg-success {background-color: var(--color-success)}*/
/*.bg-warn {background-color: var(--color-warn)}*/
/*.bg-error {background-color: var(--color-error)}*/

/* Other */
.pointer { cursor: pointer; }
.txt-noselect, /* DEPRECATE */
.noselect { user-select: none; cursor: default; }
.full-height { height: 100% }
.full-width { width: 100% }
.auto-width { width: auto }
.overflow-auto { overflow: auto }
.push { margin-left: auto }
.pull { margin-right: auto }
.shadow { box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3) }
.content-vis-auto { content-visibility: auto }
