# Deploys docs anytime updates are merged to master
name: DeployDocs
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      
    - name: Zip docs
      run: zip -r docs.zip ./docs -x ".git/*" ".github/*" "**node_modules**"

    - name: Get timestamp for version
      uses: gerred/actions/current-time@master
      id: current-time

    - name: Run string replace on timestamp
      uses: frabert/replace-string-action@master
      id: format-time
      with:
        pattern: '[:\.]+'
        string: "${{ steps.current-time.outputs.time }}"
        replace-with: '-'
        flags: 'g'
      
    - name: Push to AWS
      uses: einaregilsson/beanstalk-deploy@v11
      with:
        aws_access_key: ${{secrets.AWS_ACCESS_KEY}}
        aws_secret_key: ${{secrets.AWS_SECRET_KEY}}
        application_name: M- Doc Site
        environment_name: MDocSite-env
        region: us-east-2
        version_label: "m-docs-${{ steps.format-time.outputs.replaced }}"
        deployment_package: docs.zip

    - name: Finished
      run: echo "Docs deployed to AWS."
