<!DOCTYPE html>
<html lang="en">
<head>
  {{> ga}}
  <title>M- everything</title>
  <link rel="stylesheet" href="{{localUrl}}css">
  <script defer src="{{localUrl}}js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Examples of every M- element all on one page.">
</head>
<body>
  {{{body}}}
</body>
</html>