<!DOCTYPE html>
<html lang="en">
<head>
  {{> ga}}
  <title>Mdash</title>
  <link rel="preload" href="{{localUrl}}m-icons.woff2" as="font" crossorigin>
  <link rel="stylesheet" href="/custom-properties.css">
  <link rel="stylesheet" href="{{localUrl}}m-min.css">
  <script defer src="{{localUrl}}m-min.js"></script>
  {{> head-tags}}
</head>
<body class="bg-gray-1">
  {{{body}}}
</body>
</html>