<!DOCTYPE html>
<html lang="en">
<head>
  {{> ga}}
  <title>M-</title>
  <link rel="stylesheet" href="{{localUrl}}css">
  <script defer src="{{localUrl}}js"></script>
  {{> head-tags}}
</head>
<body class="bg-offwhite">
  {{{body}}}
</body>
</html>