<!DOCTYPE html>
<html>
<head>
  {{> ga}}
  <title>M- everything</title>
  <link rel="stylesheet" href="{{localUrl}}css">
  <script defer src="{{localUrl}}js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>