<!DOCTYPE html>
<html>
<head>
  <title>M-</title>
  <link rel="stylesheet" href="/css/m-all.css">
  <style>
    body { display: flex }
    aside { width: 160px }
    aside > nav > a { display: block }
    main { flex-grow: 1 }
  </style>
</head>
<body>
  <aside class="pad-all-md">
    <h1>M-</h1>
    <nav>
      <a href="/">Home</a>
      <a href="badge">Badge</a>
      <a href="content">Content</a>
      <a href="grid">Grid</a>
    </nav>
  </aside>
  <main class="pad-all-md">
    {{{body}}}
  </main>
</body>
</html>