<!DOCTYPE html>
<html lang="en">
<head>
  {{> ga}}
  <title>M-</title>
  <link rel="stylesheet" href="{{localUrl}}css">
  <link rel="stylesheet" href="/custom-props.css">
  {{> head-tags}}
  <style>
    #menu { flex: 0 0 140px }

    #m-logo {
      width: 48px;
      margin-left: auto;
      margin-right: auto;
    }

    main { flex-grow: 1 }

    #menu-toggle {
      display: none;
      right: 12px;
      top: 12px;
      z-index: 11;
    }

    .intro-text { width: 70% }

    @media only screen and (max-width: 600px) {
      #menu-toggle { display: block }
      #menu { display: none }
      #menu[open] {
        background-color: white;
        z-index: 10;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
      .intro-text { width: 100% }
      .benefits m-vbar { display: none }
      .benefits span {
        display: block;
        margin-top: var(--space-xs);
      }
    }
  </style>
</head>
<body class="flex" style="height: 100%">
<m-icon id="menu-toggle" name="menu" class="pos-absolute pointer"></m-icon>
<aside id="menu" class="pad-all-md">
  <div>
    <img id="m-logo" src="/favicon.png" alt="M- logo" class="block mar-b-sm">
    <small class="block mar-b-md txt-center txt-gray-6">v{{version}}</small>
    <nav>
      <a href="/" class="block mar-b-xs">Home</a>
      <a href="https://github.com/jfbrennan/m-" target="_blank" rel="noopener" class="block mar-b-xs">
        Repo <img src="github-logo.png" alt="GitHub logo" class="mar-r-xs" style="height: 14px"></a>
      <a href="/examples" class="block mar-b-xs">Examples page</a>
      <hr>
      <h4 class="mar-b-sm">Layout</h4>
      <a href="/head-tags" class="block mar-b-xs">Head tags</a>
      <a href="/container" class="block mar-b-xs">Container</a>
      <a href="/grid" class="block mar-b-xs">Grid</a>
      <h4 class="mar-b-sm">Components</h4>
      <a href="/accordion" class="block mar-b-xs">Accordion</a>
      <a href="/alert" class="block mar-b-xs">Alert</a>
      <a href="/autocomplete" class="block mar-b-xs">Autocomplete</a>
      <a href="/badge" class="block mar-b-xs">Badge</a>
      <a href="/box" class="block mar-b-xs">Box</a>
      <a href="/button" class="block mar-b-xs">Button</a>
      <a href="/details" class="block mar-b-xs">Details</a>
      <a href="/dialog" class="block mar-b-xs">Dialog</a>
      <a href="/form" class="block mar-b-xs">Form</a>
      <a href="/icons" class="block mar-b-xs">Icons</a>
      <a href="/input" class="block mar-b-xs">Input</a>
      <a href="/loader" class="block mar-b-xs">Loader</a>
      <a href="/link" class="block mar-b-xs">Link</a>
      <a href="/menu" class="block mar-b-xs">Menu</a>
      <a href="/radio" class="block mar-b-xs">Radio</a>
      <a href="/select" class="block mar-b-xs">Select</a>
      <a href="/tabs" class="block mar-b-xs">Tabs</a>
      <a href="/tag" class="block mar-b-xs">Tag</a>
      <a href="/table" class="block mar-b-xs">Table</a>
      <a href="/textarea" class="block mar-b-xs">Textarea</a>
      <h4 class="mar-b-sm">Typography</h4>
      <a href="/text" class="block mar-b-xs">Text</a>
      <a href="/lists" class="block mar-b-xs">Lists</a>
      <a href="/rules" class="block mar-b-xs">Rules</a>
      <h4 class="mar-b-sm">Utils</h4>
      <a href="/custom-props" class="block mar-b-xs">Custom properties</a>
      <a href="/helper-classes" class="block mar-b-xs">Helper classes</a>
      <hr>
      <small>Copyright &copy; 2020<br>Jordan Brennan</small>
    </nav>
  </div>
</aside>
<main class="pad-all-md pad-b-lg">
  {{{body}}}
</main>

<!-- Scripts below (order matters) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify-html.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"></script>
<script src="code-sample.riot" type="riot/tag"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.13.2/riot+compiler.min.js"></script>
<script>
  riot.compile(() => riot.mount('*'));
</script>
<script src="{{localUrl}}js"></script>
<script>
  // Menu toggle (for small screens)
  document.getElementById('menu-toggle').addEventListener('click', e => document.getElementById('menu').toggleAttribute('open'));

  // Autocomplete demo
  MdashAutocomplete.prototype.sources.fruit = function(query) {
    // Use query to fetch/filter/map/find/whatever your use case is for getting matching results
    let matches = ['apple', 'banana', 'peach'].filter(fruit => fruit.startsWith(query));

    // Function must return a Promise or use async keyword
    return Promise.resolve({
      query,
      matches
    });
  };

  // Tabs demo
  // document.querySelector('m-tabs').addEventListener('m-select', e => console.log(e))
</script>
</body>
</html>